#add-person-page {
  padding: 0px 15px;
}

#add-person-page .flow-controls {
  margin-top: 20px;
  text-align: right;
}

#add-person-page .clear-btn {
  text-align: right;
}

#add-person-page .title {
  padding: 0px;
}

#add-person-page .form-group {
  margin-left: 10px;
  margin-right: 10px;
}

#add-person-page .form-group input[type="text"] {
  min-width: 220px;
}

.edudocuments-editor h3 small {
  font-size: 80%;
}

span.label {
  margin: 0px 5px;
}

.edudocuments-editor .close {
  float: left;
}

#add-person-page .zno-marks {
  max-width: 650px;
}

.zno-marks table {
  margin-bottom: 0px;
}

.final-timeout {
  width: 80px;
  display: inline-block;
}

#add-person-page .edu-benefit {
  padding-top: 23px;
}

b.benefit {
  margin-top: 10px;
  display: block;
}

#add-person-page .benefit-selector {
  padding: 5px;
  padding-left: 7px;
  margin-bottom: 10px;
  margin-left: 4px;
  cursor: pointer;
}

#add-person-page .benefit-selector:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#add-person-page .benefit-selector.selected {
  border-left: 4px solid #0478CF;
  margin-left: 0px;
  background-color: rgba(255, 179, 0, 0.5);
}

#add-person-page .benefit-selector header {
  font-size: 17pt;
}

#add-person-page .benefit-selector content {
  padding-top: 5px;
  color: #555;
}

#add-person-page .checkbox {
  margin-top: 3px !important;
  margin-right: 25px;
}

#add-person-page .form-group-small {
  width: 80px;
  display: inline-block;
}
