#add-request-page {
  padding: 0px 15px;
}

#add-request-page .clear-btn {
  text-align: right;
}

#add-request-page .flow-controls {
  margin-top: 20px;
  text-align: center;
}

#add-request-page .title {
  padding: 0px;
}

#add-request-page .form-group {
  margin-left: 10px;
  margin-right: 10px;
}

#add-request-page .form-group input[type="text"] {
  min-width: 250px;
}
#add-request-page .form-group .select2-container {
  min-width: 250px;
}

#add-request-page > form {
  margin-top: 30px;
}

#add-request-page .checkbox {
  margin-left: 10px;
}
