#bulk-add-person-page {
  padding: 0px 15px;
}

#bulk-add-person-page .title {
  padding: 0px;
}

#bulk-add-person-page textarea {
  width: 100%;
  min-height: 300px;
  resize: vertical;
}

#bulk-add-person-page .parse-panel {
  padding: 0px 10px;
}

#bulk-add-person-page .person-item.not-found,
#bulk-add-person-page .person-item.error {
  color: red;
}

#bulk-add-person-page .person-item.success {
  color: green;
}
