#data-diploms-page {
  padding: 0px 15px;
}

#data-diploms-page .title {
  padding: 0px;
}

#data-diploms-page textarea {
  width: 100%;
  min-height: 300px;
  resize: vertical;
}

#data-diploms-page .parse-panel {
  padding: 0px 10px;
}

#data-diploms-page .person-item.not-found,
#data-diploms-page .person-item.error {
  color: red;
}

#data-diploms-page .person-item.success {
  color: green;
}

#data-diploms-page div.details {
  padding-left: 10px;
}

#data-diploms-page div.main {
  font-size: 1.2em;
}
