#data-user-page {
  padding: 0px 15px;
}

#data-user-page .user-id {
  min-width: 35px;
  padding-right: 5px;
  display: inline-block;
}

#data-user-page h3 {
  margin: 0px;
  display: inline-block;
  width: 50%;
}

#data-user-page .form-group {
  padding: 0px 5px;
}

#data-user-page .input-group {
  width: 30%;
}

#data-user-page .wrapper-btn {
  padding-top: 26px;
}