#data-courses-page {
  padding: 5px;
}

#data-courses-page .request {
  padding: 2px;
}

#data-courses-page .flex {
  align-items: center;
}

#data-courses-page .request-id {
  width: 150px;
  flex-shrink: 0;
  font-size: 1.2em;
}

#data-courses-page .courses-mark {
  width: 300px;
  flex-shrink: 0;
}
