#data-examination-page {

}

#data-examination-page .side {
  flex-grow: 1;
  width: 50%;
  padding: 10px;
}

#data-examination-page h3 {
  margin-top: 0px;
}

#data-examination-page input {
  border-radius: 0px;
}
