#data-originals-page {
  padding: 5px;
}

#data-originals-page .request {
  padding: 2px;
}
#data-originals-page .request.error a {
  color: #f00;
}

#data-originals-page .request-id {
  width: 150px;
  flex-shrink: 0;
  font-size: 1.2em;
  display: inline-block;
}

#data-original-page .request-stream {
  width: 150px;
}
