#edbo-sync-page {
  padding: 0px 15px;
}

#edbo-sync-page .clear-btn {
  text-align: right;
}

#edbo-sync-page .item {
  padding-top:    5px;
  padding-bottom: 5px;
  padding-left:   5px;
  border-bottom:  1px solid rgba(0, 0, 0, 0.1);
}

#edbo-sync-page .item .header {
  font-size: 16pt;
  width: 120px;
  display: inline-block;
}

#edbo-sync-page .item .person-name {
  font-size: 16pt;
}

#edbo-sync-page .item .header:hover {
  border-bottom-width: 0px;
}

#edbo-sync-page .item button {
  margin-left: 5px;
}

#edbo-sync-page .btn-primary {
  float: right;
}


#edbo-sync-page .item.different .header {
  color: #FF7A00;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#edbo-sync-page .item.missing .header {
  color: #079B00;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#edbo-sync-page .diff-viewer {
  margin-bottom: 10px;
}

#edbo-sync-page .diff-viewer li {
  margin-top: 5px;
}

#edbo-sync-page .diff-viewer div.diff-item span {
  width: 150px;
  text-align: right;
  display: inline-block;
}

#edbo-sync-page .diff-viewer li .title {
  font-family: monospace;
}

#edbo-sync-page .diff-viewer li.add .title {
  color: #079B00;
}

#edbo-sync-page .diff-viewer li.remove .title {
  color: #FF0000;
}

#edbo-sync-page .diff-viewer pre {
  margin-top: 10px;
}

#edbo-sync-page .change-mark {
  width: 180px;
  padding-top: 5px;
}

#edbo-sync-page .item .person {
  color: #f00;
  opacity: 0.7;
}
#edbo-sync-page .item .person.sync {
  color: #2E8F2E;
}

#edbo-sync-page .queue {
  position: fixed;
  bottom: 10px;
  right: 100px;
}

#edbo-sync-page .sub-request-type {
  display: inline-block;
  width: 85px;
}

#edbo-sync-page .sub-request {
  padding-left: 15px;
  margin-bottom: 3px;
}

#edbo-sync-page .subrequest-number {
  width: 55px;
  display: inline-block;
}

#edbo-sync-page .diff-item.exam {
  font-size: 16pt;
}

#edbo-sync-page .request-wave {
  width: 150px;
}

#edbo-sync-page .check-all-btn {
  padding-left: 20px;
  padding-bottom: 16px;
}

#edbo-sync-page .form-group {
  padding: 0px 5px;
}
