#ExaminationTicket .left {
  float: left;
}

#ExaminationTicket .right {
  float: right;
}

#ExaminationTicket .center {
  text-align: center;
}

#ExaminationTicket .bold {
  font-weight: 700;
}

#ExaminationTicket .clear {
  clear: both;
}

#ExaminationTicket .field {
  display: inline-block;
  border-bottom: 1px solid #000000;
}

#ExaminationTicket .field:after {
  content: '';
  text-align: center;
  font-size: 9pt;
  display: block;
  position: absolute;
}

#ExaminationTicket .field-institute {
  min-width: 95mm;
  text-align: center;
}

#ExaminationTicket .field-institute:after {
  content: 'найменування вищого навчального закладу';
}

#ExaminationTicket .field-form {
  min-width: 91mm;
  text-align: center;
}

#ExaminationTicket .field-form:after {
  content: 'денна, вечірня, заочна (дистанційна), екстернат';
}

#ExaminationTicket .field-number {
  min-width: 17mm;
  text-align: center;
}

#ExaminationTicket .field-surname {
  min-width: 77mm;
}

#ExaminationTicket .field-name {
  min-width: 85mm;
}

#ExaminationTicket .field-patronymic {
  min-width: 74mm;
}

#ExaminationTicket .field-faculty {
  min-width: 44mm;
}

#ExaminationTicket .field-level {
  min-width: 42mm;
}

#ExaminationTicket .field-level:after {
  content: 'молодший спеціаліст, бакалавр, спеціаліст, магістр';
  margin-left: -27mm;
}

#ExaminationTicket .field-sign {
  min-width: 25mm;
}

#ExaminationTicket .field-sign:after {
  content: 'підпис';
}

#ExaminationTicket .field-contest-score {
  min-width: 95mm;
}

#ExaminationTicket .field-signer-surname {
  min-width: 35mm;
}

#ExaminationTicket .field-signer-surname:after {
  content: 'прізвище та ініціали';
}

#ExaminationTicket .font-28 {
  font-size: 28pt;
}

#ExaminationTicket .font-16 {
  font-size: 16pt;
}

#ExaminationTicket .font-14 {
  font-size: 14pt;
}

#ExaminationTicket .font-12 {
  font-size: 12pt;
}

#ExaminationTicket .font-11 {
  font-size: 11pt;
}

#ExaminationTicket .font-10 {
  font-size: 10pt;
}

#ExaminationTicket .font-9 {
  font-size: 9pt;
}

#ExaminationTicket .font-8 {
  font-size: 8pt;
}

#ExaminationTicket table.bordered,
#ExaminationTicket table.bordered td,
#ExaminationTicket table.bordered th {
  font-weight: normal;
  font-size: 10pt;
  border: 1px solid #000000;
  border-collapse: collapse;
  vertical-align: top;
  padding: 1px 5px;
}

#ExaminationTicket table.bordered th {
  text-align: center;
  vertical-align: middle;
}

#ExaminationTicket .exam-index {
  width: 8mm;
  text-align: center;
}

#ExaminationTicket .exam-name {
  width: 55mm;
}

#ExaminationTicket .exam-date {
  width: 15mm;
  text-align: center;
}

#ExaminationTicket .exam-time {
  width: 21mm;
  text-align: center;
}

#ExaminationTicket .certificate-index {
  width: 8mm;
  text-align: center;
}

#ExaminationTicket .certificate-subject {
  width: 30mm;
}

#ExaminationTicket .certificate-number {
  width: 37mm;
  text-align: center;
}

#ExaminationTicket .certificate-date {
  width: 27mm;
  text-align: center;
}

#ExaminationTicket .certificate-mark-digit {
  width: 17mm;
}

#ExaminationTicket .certificate-mark-letter {
  width: 27mm;
}

#ExaminationTicket .certificate-examiners {
  width: 40mm;
}

#ExaminationTicket div.column {
  width: 95mm;
  float: left;
}

#ExaminationTicket div.column-one {
  padding-right: 2mm;
}

#ExaminationTicket div.column-two {
  padding-left: 2mm;
}

#ExaminationTicket div.line-1 {
  height: 1mm;
}

#ExaminationTicket div.line-7 {
  height: 7mm;
}

#ExaminationTicket div.line-13 {
  height: 13mm;
}

#ExaminationTicket div.line-17 {
  height: 17mm;
}

#ExaminationTicket div.line-69 {
  height: 69mm;
}

#ExaminationTicket .space-11 {
  width: 11mm;
  display: inline-block;
}

#ExaminationTicket div.photo {
  width: 30mm;
  height: 40mm;
  border: 1px solid #000000;
  font-size: 7pt;
  text-align: center;
}

#ExaminationTicket div.sign-block {
  width: 63mm;
  padding-left: 3mm;
}

#ExaminationTicket li table {
  margin-left: -10mm;
}
