#find-request-page {
  padding: 0px 15px;
}

#find-request-page label {
  color: #555;
}

#find-request-page .form-group {
  padding: 0px 5px;
}

#find-request-page .request-id {
  min-width: 60px;
  padding-right: 5px;
  display: inline-block;
}

#find-request-page .request-number {
  min-width: 150px;
  padding-right: 5px;
  display: inline-block;
  margin: 0px;
}

#find-request-page .originals {
  float: right;
  display: inline-block;
  margin-top: 8px;
}

#find-request-page .trash {
  display: inline-block;
  margin-top: 8px;
}

#find-request-page .trash:hover {
  color: #D9534F;
}

#find-request-page .details {
  display: inline-block;
  margin-top: 8px;
  color: #333333;
}

#find-request-page .details:hover {
  color: #428BCA;
}

#find-request-page .count {
  cursor: default;
}
