#find-person-page {
  padding: 0px 15px;
}

#find-person-page label > span {
  color: gray;
}

#find-person-page h3 {
  margin: 0px;
  display: inline-block;
  width: 50%;
}

#find-person-page .person-id {
  min-width: 60px;
  padding-right: 5px;
  display: inline-block;
}

#find-person-page .person-details {
  text-align: right;
  font-size: 16pt;
}

#find-person-page ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 5px;
}

#find-person-page ol {
  padding-left: 20px;
  margin-top: 5px;
}

#find-person-page .no-list {
  list-style: none;
}

#find-person-page .user {
  display: inline-block;
  margin-top: 8px;
  color: #333333;
}

#find-person-page .user:hover {
  color: #428BCA;
}

#find-person-page .benefits {
  font-size: 8pt;
}
