.flex-table {
  display: flex;
  flex-direction: column;
}
.flex-table row {
  width: 100%;
  display: flex;
  flex-direction: row;

  border-top:    0px solid black;
  border-bottom: 1px solid black;
  page-break-inside: avoid;
}
.flex-table row:nth-child(1) {
  border-top-width: 1px;
}
.flex-table cell {
  display: inline-block;
  padding: 0px;
  flex: 1;

  border-right: 1px solid black;
  border-left:  0px solid black;
  page-break-inside: avoid;
}
.flex-table cell:nth-child(1) {
  border-left-width: 1px;
}
