.generate-reciept .left {
  float: left;
}

.generate-reciept .right {
  float: right;
}

.generate-reciept .center {
  text-align: center;
}

.generate-reciept .bold {
  font-weight: 700;
}

.generate-reciept .clear {
  clear: both;
}

.generate-reciept .caps {
  font-variant: small-caps;
}

.generate-reciept .field {
  display: inline-block;
  border-bottom: 1px solid #000000;
  text-align: center;
}

.generate-reciept .field:after {
  content: '';
  text-align: center;
  font-size: 6px;
  display: block;
  position: absolute;
  height: 0px;
  margin-top: 1px;
}

.generate-reciept .field-description-personal-file {
  min-width: 175px;
}

.generate-reciept .field-description-personal-file:after {
  content: '(за журналом реєстрації осіб, які вступають до ВНЗ)';
}

.generate-reciept .field-surname {
  min-width: 230px;
}

.generate-reciept .field-name {
  min-width: 160px;
}

.generate-reciept .field-patronymic {
  min-width: 405px;
}

.generate-reciept .field-faculty {
  min-width: 317px;
}

.generate-reciept .field-educational-qualification {
  min-width: 305px;
}

.generate-reciept .field-specialty {
  min-width: 304px;
}

.generate-reciept .field-doc {
  min-width: 119px;
}

.generate-reciept .field-doc:after {
  content: '(паспорт/свідоцтво про народження/інше)';
}

.generate-reciept .field-doc-serial {
  min-width: 20px;
}

.generate-reciept .field-doc-issued {
  min-width: 250px;
}

.generate-reciept .field-doc-issued:after {
  content: '(ким та коли виданий)';
}

.generate-reciept .field-doc-date-dd {
  min-width: 20px;
}

.generate-reciept .field-doc-date-mm {
  min-width: 20px;
}

.generate-reciept .field-doc-date-yyyy {
  min-width: 30px;
}

.generate-reciept .field-edu-doc-serial {
  min-width: 20px;
}

.generate-reciept .field-edu-doc-number {
  min-width: 60px;
}

.generate-reciept .field-edu-doc-date-dd {
  min-width: 20px;
}

.generate-reciept .field-edu-doc-date-mm {
  min-width: 20px;
}

.generate-reciept .field-edu-doc-date-yy {
  min-width: 40px;
}

.generate-reciept .field-cert-number {
  min-width: 80px;
}

.generate-reciept .field-cert-date-dd {
  min-width: 20px;
}

.generate-reciept .field-cert-date-mm {
  min-width: 60px;
}

.generate-reciept .field-cert-date-yy {
  min-width: 20px;
}

.generate-reciept .field-sign {
  min-width: 100px;
}

.generate-reciept .field-sign:after {
  content: '(підпис)';
}

.generate-reciept .font-14 {
  font-size: 14px;
}

.generate-reciept .font-11 {
  font-size: 11px;
}

.generate-reciept .font-10 {
  font-size: 10px;
}

.generate-reciept table.bordered {
  width: 100%;
}

.generate-reciept table.bordered,
.generate-reciept table.bordered td,
.generate-reciept table.bordered th {
  font-weight: normal;
  font-size: 10px;
  border: 1px solid #000000;
  border-collapse: collapse;
  vertical-align: top;
  padding: 1px 5px;
}

.generate-reciept table.bordered th {
  font-size: 9px;
  vertical-align: middle;
}

.generate-reciept table.bordered ol {
  padding: 3px;
  margin: 0px;
  padding-left: 15px;
}

.generate-reciept .field-institute {
  text-align: center;
  min-width: 470px;
}

.generate-reciept .field-institute:after {
  content: '(найменування вищого навчального закладу)';
}

.generate-reciept .field-name-full {
  min-width: 400px;
}

.generate-reciept .field-name-full:after {
  content: '(прізвище, ім\'я, по батькові)';
}

.generate-reciept .field-doc-serial {
  min-width: 20px;
}

.generate-reciept .field-doc-number {
  min-width: 30px;
}

.generate-reciept .field-doc-date-dd {
  min-width: 20px;
  margin-left: 1px;
}

.generate-reciept .field-doc-date-mm {
  min-width: 20px;
}

.generate-reciept .field-doc-date-yy {
  min-width: 20px;
}

.generate-reciept .field-doc-issued-1 {
  min-width: 386px;
}

.generate-reciept .field-cert-number {
  margin-left: 5px;
  min-width: 80px;
}

.generate-reciept .field-cert-year {
  min-width: 40px;
}

.generate-reciept .field-cert-year:after {
  content: '(рік)';
}

.generate-reciept .field-photos {
  min-width: 10px;
}

.generate-reciept .field-other-docs {
  min-width: 345px;
}

.generate-reciept .field-date-original-dd {
  min-width: 20px;
}

.generate-reciept .field-date-original-mm {
  min-width: 60px;
}

.generate-reciept .field-date-original-yy {
  min-width: 20px;
}

.generate-reciept .field-sign-exec-secr {
  min-width: 170px;
}

.generate-reciept .field-sign-exec-secr:after {
  content: '(підпис відповідального секретаря)';
}

.generate-reciept .field-sign {
  text-align: right;
  min-width: 200px;
}

.generate-reciept .field-sign:after {
  content: '(підпис)';
}

.generate-reciept .field-signer {
  min-width: 125px;
}

.generate-reciept .field-signer:after {
  content: '(прізвище, ініціали)';
}

.generate-reciept .field-sign-faculty {
  min-width: 100px;
}

.generate-reciept .field-sign-faculty:after {
  content: '(факультету/інституту)';
}

.generate-reciept .field-sign-comm-secr {
  text-align: right;
  min-width: 200px;
}

.generate-reciept .field-sign-comm-secr:after {
  content: '(підпис)';
  width: 200px;
  text-align: right;
}

.generate-reciept .field-sign-entr {
  min-width: 100px;
}

.generate-reciept .field-sign-entr:after {
  content: '(підпис вступника)';
}

.generate-reciept .font-14 {
  font-size: 14px;
}

.generate-reciept .font-12 {
  font-size: 12px;
}

.generate-reciept .font-11 {
  font-size: 11px;
}

.generate-reciept .font-10 {
  font-size: 10px;
}

.generate-reciept .font-8 {
  font-size: 8px;
}
