#generate-journal-page .vertical span {
  display: block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  white-space: nowrap;
}

#generate-journal-page .printable {
  font-size: 8pt;
}

#generate-journal-page cell {
  padding: 1mm;
}

#generate-journal-page cell.theader {
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 140px;
}

#generate-journal-page .index {
  width: 7mm;
  flex: 0 0 auto !important;
}

#generate-journal-page .request-number {
  width: 10mm;
  flex: 0 0 auto !important;
}

#generate-journal-page .request-number span {
  margin-left: -40px;
}

#generate-journal-page .date {
  width: 15mm;
  flex: 0 0 auto !important;
}

#generate-journal-page .date span {
   margin-left: -40px;
}

#generate-journal-page .address {
  width: 20mm;
  flex: 0 0 auto !important;
}

#generate-journal-page .center {
  text-align: center;
}

#generate-journal-page .sex {
  width: 16mm;
  flex: 0 0 auto !important;
}

#generate-journal-page .institute {
  font-size: 7pt;
}

#generate-journal-page .certificate {
  font-size: 7pt;
}

#generate-journal-page .benefits {
  width: 21mm;
  flex: 0 0 auto !important;
}

#generate-journal-page .rejection {
  width: 22mm;
  flex: 0 0 auto !important;
}

#generate-journal-page .sign {
  width: 25mm;
  flex: 0 0 auto !important;
}