.flex {
  display: flex !important;
}

.flex-baseline {
  align-items: baseline;
}
.flex-vcenter {
  align-items: center;
}
.flex-vend {
  align-items: flex-end;
}

.flex-1 {
  flex-grow: 1;
}

.flex-2 {
  flex-grow: 2;
}

.flex-3 {
  flex-grow: 3;
}

.flex-4 {
  flex-grow: 3;
}

.fixed-50 {
  width: 50%;
}

.no-grow {
  flex-grow: 0;
}
.no-shrink {
  flex-shrink: 0;
}

.no-grow .select2-container {
  width: 220px;
}

.select2-container {
  display: block;
  min-width: 220px;
}

.select2-container .select2-choice {
  height: auto;
  min-height: 34px;
  padding: 3px 12px;
}

.vertical-bottom-align {
  display: flex;
  align-items: flex-end;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.strong {
  font-weight: 700 !important;
}

.useless {
  color: gray;
}

*[pk-hideable] > header {
  border: 1px solid grey;
  border-left: 3px solid #0478CF;

  margin-top: 2px;
  padding: 5px;

  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

*[pk-hideable]:hover > header {
  border-left: 3px solid #5BC0DE;
}

*[pk-hideable] > content {
  border: 1px solid grey;
  border-top: 0px solid transparent;

  padding: 5px;

  margin-left: 15px;
  margin-bottom: 5px;

  background-color: rgba(255, 255, 255, 0.6);
  display: block;
}

*[pk-hideable] > content.collapsed {
  display: none !important;
}

.label {
  padding: .2em .6em;
  margin-top: -5px;
}

code {
  color: #FF0000;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration:none;
}

a:focus {
    outline:none;
}

.select2-results .select2-disabled {
  display: none;
}

.select2-results .select2-disabled > .select2-result-label {
  cursor: default;
}

.pk-input-group .form-group {
  padding: 0px 5px;
}

.subcategory-list {
  font-size: 16pt;
}
