#generate-journal-title-page .left {
  float: left;
}

#generate-journal-title-page .right {
  float: right;
}

#generate-journal-title-page .center {
  text-align: center;
}

#generate-journal-title-page .bold {
  font-weight: 700;
}

#generate-journal-title-page .clear {
  clear: both;
}

#generate-journal-title-page .caps {
  font-variant: small-caps;
}

#generate-journal-title-page .field {
  display: inline-block;
  border-bottom: 1px solid #000000;
}

#generate-journal-title-page .field:after {
  content: '';
  text-align: center;
  font-size: 6px;
  display: block;
  position: absolute;
}

#generate-journal-title-page .field-institute {
  text-align: center;
  min-width: 252mm;
}

#generate-journal-title-page .field-institute:after {
  content: '(повне найменування вищого навчального закладу)';
}

#generate-journal-title-page .field-form {
  text-align: center;
  min-width: 252mm;
}

#generate-journal-title-page .field-form:after {
  content: '(денна, вечірня, заочна (дистанційна), екстернат)';
}

#generate-journal-title-page .field-yy {
  min-width: 20px;
}

#generate-journal-title-page .field-faculty {
  min-width: 193mm;
}

#generate-journal-title-page .field-faculty:after {
  content: '(найменування інституту, факультету, відділення)';
}

#generate-journal-title-page .field-direction {
  min-width: 216mm;
}

#generate-journal-title-page .field-direction:after {
  content: '(шифр і назва)';
}

#generate-journal-title-page .field-specialty {
  min-width: 225mm;
}

#generate-journal-title-page .field-specialty:after {
  content: '(шифр і назва)';
}

#generate-journal-title-page .field-qualification {
  min-width: 191mm;
}

#generate-journal-title-page .field-qualification:after {
  content: '(молодший спеціаліст, бакалавр, спеціаліст, магістр)';
}

#generate-journal-title-page .font-28 {
  font-size: 28pt;
}

#generate-journal-title-page .font-16 {
  font-size: 16pt;
}

#generate-journal-title-page .font-14 {
  font-size: 14pt;
}

#generate-journal-title-page .font-12 {
  font-size: 12pt;
}

#generate-journal-title-page .font-11 {
  font-size: 11pt;
}

#generate-journal-title-page .font-10 {
  font-size: 10pt;
}
