.pk-geopicker-wrapper {
  position: absolute;
  display: none;
  background-color: white;
  margin-top: 2px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  width: 550px;
}

.pk-geopicker-wrapper.visible {
  display: block;
}

.pk-geopicker-wrapper ul {
  list-style: none;
  display: block;
  max-height: 200px;
  overflow-y: auto;
  padding-left: 0px;
  margin: 0px;
}

.pk-geopicker-wrapper ul > li {
  padding: 4px 2px;
  font-size: 10pt;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.pk-geopicker-wrapper ul > li:hover {
  background-color: rgba(47, 147, 215, 0.45);
}

.pk-geopicker-wrapper h4 {
  margin: 10px;
}

.pk-geopicker-wrapper .geopicker-arrow {
  width: 0px;
  border: solid transparent;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0.4);
  border-width: 6px;
  position: absolute;
  margin-top: -12px;
  margin-left: 5px;
}

.pk-geopicker-wrapper .geopicker-arrow:after {
  border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 5px;
  margin-top: -4px;
  margin-left: -5px;
}
