@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-fastup, .icon-fastdown, .icon-fastright, .icon-fastleft, .icon-trash, .icon-pen, .icon-search-1, .icon-user, .icon-study, .icon-camera, .icon-settings, .icon-eye, .icon-eye-2, .icon-edit1, .icon-edit2, .icon-trashempty, .icon-trash-2, .icon-trashfull, .icon-trashcan, .icon-user-2, .icon-search-2, .icon-user-3, .icon-sun, .icon-printer, .icon-trash-alt, .icon-trash-3, .icon-settings-2, .icon-user-4, .icon-search-3 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-fastup:before {
	content: "\f31c";
}
.icon-fastdown:before {
	content: "\f31d";
}
.icon-fastright:before {
	content: "\f31b";
}
.icon-fastleft:before {
	content: "\f31a";
}
.icon-trash:before {
	content: "\e000";
}
.icon-pen:before {
	content: "\e001";
}
.icon-search-1:before {
	content: "\e002";
}
.icon-user:before {
	content: "\e003";
}
.icon-study:before {
	content: "\e004";
}
.icon-camera:before {
	content: "\e005";
}
.icon-settings:before {
	content: "\e006";
}
.icon-eye:before {
	content: "\e007";
}
.icon-eye-2:before {
	content: "\e008";
}
.icon-edit1:before {
	content: "\f1b7";
}
.icon-edit2:before {
	content: "\f0f2";
}
.icon-trashempty:before {
	content: "\f0cf";
}
.icon-trash-2:before {
	content: "\f0ce";
}
.icon-trashfull:before {
	content: "\f0d0";
}
.icon-trashcan:before {
	content: "\e009";
}
.icon-user-2:before {
	content: "\e00a";
}
.icon-search-2:before {
	content: "\e00b";
}
.icon-user-3:before {
	content: "\e00c";
}
.icon-sun:before {
	content: "\e00d";
}
.icon-printer:before {
	content: "\e00e";
}
.icon-trash-alt:before {
	content: "\e00f";
}
.icon-trash-3:before {
	content: "\e010";
}
.icon-settings-2:before {
	content: "\e011";
}
.icon-user-4:before {
	content: "\e012";
}
.icon-search-3:before {
	content: "\e013";
}
