body > .loading-view {
  text-align: center;
  font-size: 48pt;
  padding-top: 100px;

  -webkit-animation: loading-view-opecity 1s infinite alternate;
  animation: loading-view-opecity 1s infinite alternate;
}

@-webkit-keyframes loading-view-opecity {
    from {
      opacity: 0.6;
    }
    to {
      opacity: 1;
    }
}

@keyframes loading-view-opecity {
    from {
      opacity: 0.6;
    }
    to {
      opacity: 1;
    }
}
