pk-person-view .list-group-item-heading {
  padding-bottom: 10px;
}

pk-person-view .table, pk-person-view .list-group {
  margin-bottom: 0px;
}

pk-person-view table td {
  width: 50%;
}

pk-person-view h4 {
  padding-left: 5px;
}

pk-person-view .mark-edit {
  width: 205px;
}

pk-person-view .mark-label {
  padding-top: 7px;
  padding-right: 7px;
}
