.printable {
  display: block;
  page-break-after: always;
  font-family: serif;
}

.a4.vertical {
  width:  210mm;
  height: 292mm;
}
.a4.horizontal {
  width:  296mm;
  height: 200mm;
}
.a4.padding {
  padding: 12mm 12mm 12mm 12mm;
}
.a4.small-padding {
  padding: 5mm 5mm 5mm 5mm;
}

.a5.vertical {
  width:  148mm;
  height: 200mm;
}
.a5.horizontal {
  width:  200mm;
  height: 148mm;
}
.a5.padding {
  padding: 10mm 10mm 10mm 10mm;
}
.a5.small-padding {
  padding: 4mm 4mm 4mm 4mm;
}

.a4.no-float {
  float: none;
}

.prin2table::after {
  clear: both;
}

.a4, .a5 {
  float: left;
  box-sizing: border-box;
  background-color: white;
  overflow: hidden;
}
.a5 {
  border: 1px solid black;
}

.rotate-left > .a5 {
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: rotate(-90deg);
  position: relative;
  top: 210mm;
  left: -1px;
}

@media print {
  body {
    background: white !important;
  }
  .header, .form-group {
    display: none !important;
  }
  .content {
    margin: 0px !important;
  }

  .a4, .a5 {
    border: 0px solid black;
  }
}
