#rates-page .printable {
  padding-bottom: 1mm;
}
#rates-page td,
#rates-page th,
#rates-page h3 {
  color: black !important;
}
#rates-page h3 small {
  color: #444;
}

#rates-page {
  font-size: 8pt;
}
#rates-page h3 {
  font-size: 13pt;
}

#rates-page table th,
#rates-page table td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
}

#rates-page table td {
  padding: 2px;
}

#rates-page table {
  width: 100%;
}

#rates-page table th {
  text-align: center;
}

#rates-page tr td.benefit {
  width: 20%;
}

#rates-page tr {
  background-color: #fff;
}
#rates-page tr.recomend {
  background-color: #86EE71;
  font-weight: 700;
}
#rates-page tr.order {
  background-color: #CBEAF7;
  font-weight: 700;
}
#rates-page tr.invalid {
  background-color: #D9534F;
  color: #FFFFFF !important;
}
#rates-page tr.recomended .benefit {
  font-weight: normal !important;
}

#rates-page tr:hover td {
  background-color: silver;
}

#rates-page.rates1 td, #rates-page.rates1 th {
  font-size: 6pt;
  padding: 1mm;
}
#rates-page.rates1.general td, #rates-page.rates1.general th {
  font-size: 9pt;
  padding: 1mm;
}

#rates-page.rates1.general td.surname,
#rates-page.rates1.general th.surname {
  width: 150mm;
}

#rates-page.rates1.general td.benefit,
#rates-page.rates1.general th.benefit {
  width: 175mm;
}
