#report-page {
  color: black;
  padding: 1px;
}
#report-page table {
  font-size: 9pt;
  width: 100%;
}

#report-page table td,
#report-page table th {
  border: 1px solid black;
  border-collapse: collapse;
}

#report-page table th {
  text-align: center;
  font-size: 0.8em;
  padding: 2px;
}

#report-page table th div {
  font-size: 0.8em;
}

#report-page table tr td {
  text-align: center;
  padding: 3px;
  font-size: 1.2em;
  vertical-align: middle;
}
#report-page table tr td:nth-child(1) {
  text-align: left;
  font-size: 1em;
}

#report-page table tr td.splitted {
  padding: 0px;
  text-align: left;
  font-size: 4.5pt;
  vertical-align: top;
}
#report-page table tr td.splitted div {
  border-bottom: 1px solid black;
  padding: 1px;
}
#report-page table tr td.splitted div:last-child {
  border-bottom-width: 0px;
}

#report-page .speciality {
  width: 20%;
}
#report-page .certificate-subject {
  width: 15%;
}
#report-page .number {
  width: 1.3cm;
}
