.request-details .request-stream {
  min-width: 150px;
  padding-right: 5px;
  display: inline-block;
}

.request-details .details-group {
  margin-top: 20px;
}

.request-details h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.request-details .exam-name {
  font-size: 16pt;
  margin-right: 10px;
}
.request-details .exam-mark {
  width: 150px;
}

.request-details a {
  cursor: pointer;
}

.request-details .request-status {
  width: 300px;
}

#request-details-page {
  padding-left: 15px;
}

#request-details-page h4 {
  padding-left: 15px;
}

#request-details-page .trash {
  display: inline-block;
  margin-right: 11px;
  cursor: pointer;
}

#request-details-page .trash:hover {
  color: #D9534F;
}
