div.sign-container {
  width: 350px;
  margin: 0px auto;
  margin-top: 75px;
}

div.sign-container div.sign-row {
  height: 31px;
  width: 350px;
  border: 1px solid #428BCA;
  border-top: 0px;
}

div.sign-container div.sign-row:first-of-type {
  border-top: 1px solid #428BCA;
}

div.sign-container div.sign-row:before {
  content: '';
  width: 50px;
  height: 31px;
  position: absolute;
  z-index: -1;
  border-right: 3px solid #bd362f;
}

div.sign-container div.sign-row input {
  border-radius: 0px;
  margin-left: 50px;
  margin-top: -1px;

  width: 299px;
  height: 32px;

  border: 1px solid #428BCA;
  border-left-width: 0px;
  padding: 5px;
}

div.sign-container div.sign-row input:focus {
  outline-width: 0px;
  width: 306px;
  height: 36px;

  border: 2px solid #2BA0E6;
  border-left: 5px solid #2BA0E6;
  border-radius: 2px;

  margin-left: 47px;
  margin-top: -3px;

  position: absolute;
  z-index: 100;
}

div.sign-container .zsea-logo {
  margin: 0px auto;
  width: 302px;
  height: 261px;
  background: url("/img/zsea_logo.gif") 100% 100% no-repeat;
  background-size: cover;
}

div.sign-container .sign-footer {
  text-align: center;
  padding-top: 15px;
}
