.menu ul {
  padding: 0px;
  margin: 0px;
  padding-left: 1px;
}

body {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  background: url("/img/bg.png") repeat scroll 0% 0% #FFFFFF;
}

.header > a {
  text-decoration: none;
  border-bottom: 0px;
}

.header > a:hover {
  text-decoration: none;
  border-bottom: 1px dashed;
}

.header > a:focus {
  outline: none;
}

hr {
    margin:5px;
}

body > .header {
  color: #FFFFFF;
  position: relative;
  width: 100%;
  height: 100px;
  background: url("/img/pattern.png") repeat scroll 0% 0% #000000;
}

body > .footer {
  text-align: center;
  color: #FFFFFF;
  position: relative;
  margin-top: 15px;
  bottom: 0px;
  width: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
  background: url("/img/pattern.png") repeat scroll 0% 0% #000000;
}

a .header_text {
  font-size: 35px;
  padding: 11px;
  text-align: center;
  color: #FFFFFF;
  line-height: 35px;
}

.zsea_logo_small {
  position: absolute;
  top: 5px;
  right: 11px;
  width: 75px;
  height: 65px;
  background: url("/img/zsea_logo.gif") 100% 100% no-repeat;
  background-size: cover;
}

.menu {
  font-family: sans-serif;
  position: absolute;
  top: 60px;
}

.menu ul {
  padding-bottom: 10px;
  padding-top: 1px;
  margin: 0px;
}

.menu ul a {
  list-style: none;
  cursor: pointer;
  border: 0px;
  box-sizing: border-box;
}

.menu ul a:hover {
  border-left: 5px solid #1f94e2;
}

.menu ul a.active {
  border-left: 5px solid #006dcc;
}

.menu ul a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  display: block;
  padding: 7px;
  padding-left: 15px;
}

.menu ul a:hover span {
  text-decoration: none;
  margin-left: -5px;
}

.menu ul a.active span {
  text-decoration: none;
  font-weight: 700;
  margin-left: -5px;
  font-size: 94%;
}

.menu_title {
  background: url("/img/pattern.png") repeat scroll 0% 0% #000000;
  text-align: right;
  font-size: 21px;
  padding: 8px 10px;
  height: 24px;
  width: 175px;
  font-weight: 700;
  box-sizing: content-box;
}

.link a {
  color: #FFFFFF;
  text-decoration: none;
  top: 73px;
  position: absolute;
  right: 11px;
}

.content {
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 200px;
}

ul.main {
  margin: 0px;
}

ul.main li {
  width: 100%;
  background: rgba(255,255,255,.25);
  list-style: none;
  border-bottom: 1px dashed #999999;
}

ul.main div.li-content {
  padding: 9px;
}

ul.main li:nth-child(2n) {
  background: rgba(192, 192, 192, .25);
}

ul.main li:last-of-type {
  border-bottom: 0px;
}

ul.main li:hover {

}

ul.main li.active {
  background: rgba(0, 109, 204, .25);
}

ul.main li div.first_row {
  margin-bottom: 9px;
}

ul.main li span.title {
  font-weight: 700;
  color: #555555;
}

ul.main li span.surname {
  color: #000000;
}

ul.main li span.right {
  margin-right: 5px;
  float: right;
}

ul.main li span.id {
  width: 100px;
  display: inline-block;
}

ul.main li:hover span.right {

}

ul.main li div.items_actions {
  display: block;
  width: 115px;
  float: right;
  height: 68px;
}

ul.main li div.items_actions_hv {
  display: none;
  padding-left: 0px;
  height: 53px;
  margin-top: -1px;
}

ul.main li:hover div.items_actions_hv {
  display: block;
  padding-top: 17px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.3)), to(rgba(255,255,255,0))), url("../img/pattern.png");
  background: -moz-linear-gradient(top, rgba(255,255,255,0.3), rgba(255,255,255,0)), url("../img/pattern.png");
  background: -o-linear-gradient(top, rgba(255,255,255,0.3), rgba(255,255,255,0)), url("../img/pattern.png");
  background: -ms-linear-gradient(top, rgba(255,255,255,0.3), rgba(255,255,255,0)), url("../img/pattern.png");
}

ul.main li div.items_actions_hv a {
  text-decoration: none;
  border-bottom: 0px;
}

ul.main li div.items_actions_hv a:hover {
  text-decoration: none;
  border-bottom: 0px;
}

.hide, .hidden {
  display: none !important;
}

.top-panel {
  margin: 5px;
  padding: 9px;
  margin-right: 0px;
  padding-right: 0px;
}

.line {
  display: block;
  float: left;
  border: none;
  color: #000080;
  background: transparent;
  border-bottom: 1px dotted #000000;
  padding: 5px 2px 0 2px;
}

.line:focus {
  outline: none;
  border-color: #FFFFFF;
}

.sort {
  width: 185px;
}

.order {
  width:150px;
}

.search_id,
.search_name,
.search_surname,
.search_patronymic,
.search_date_added {
  margin-right:3px;
}

.search_id {
  width: 35px;
}

.search_nopf {
  width: 35px;
}

.search_name {
  width: 95px;
}

.search_surname {
  width: 125px;
}

.search_patronymic {
  width: 135px;
}

.search_date_added {
  width: 145px;
}

.search_electronic_entry_label {
  display: inline;
}

span.status {
  padding: 1px 3px;
  border-radius: 5px;
}

span.green {
  background: rgba(0, 255, 0, .25);
}

span.yellow {
  background: rgba(255, 255, 0, .25);
}

span.red {
  background: rgba(255, 0, 0, .25);
}

div.search_inputs {
  float: left;
}

.clear {
  clear: both;
}

label.label-large {
  padding-top: 7px;
  padding-bottom: 7px;
}

label.label-small {
  padding-top: 3px;
  padding-bottom: 3px;
}

label.label-mini {
  padding-top: 1px;
  padding-bottom: 1px;
}

label.label-sort {
  cursor:default;
}

div.div-sort {
  margin-top: 4px;
  margin-right: 4px;
}

div.view_title {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

div.view_title span.title {
  font-weight: 700;
  color: #555555;
}

div.view_title span.surname {
    color: #000000;
}

div.subject {

}

.accordion a:hover {
  border: 0px;
}

.certificates-group {
  float: left;
  width: 360px;
  margin-right: 10px;
}

span.subject-name {
  display: inline-block;
  width: 275px;
}

span.subject-skills {
  display: inline-block;
  width: 50px;
}

.icon-large {
  font-size: 32px;
}

.icon-action {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-right: 5px;
  color: #FFFFFF;
  background: none !important;
}

.icon-action:hover {
  color: #006dcc;
}

div.h3-content {
  padding-left: 17px;
}

div.view-page {
  padding: 11px;
}

.link-action {
  color: #000000;
}

.link-action:hover {
  color: #006dcc;
  border-bottom: 0px;
}

input.edit_surname {
  color: #000000;
  width: 125px;
  text-transform: uppercase;
}

input.edit_name {
  color: #555555;
  width: 95px;
  text-transform: uppercase;
}

input.edit_patronymic {
  color: #555555;
  width: 135px;
  text-transform: uppercase;
}

input.edit_passport_series {
  width: 45px;
  text-transform: uppercase;
}

input.edit_passport_number {
  width:75px;
}

input.edit_passport_given_department {

}

input.edit_passport_given_country {

}

input.edit_passport_given_region {

}

input.edit_passport_given_date {
  width: 145px;
}

input.edit_passport_given_birthdate {

}

input.edit_passport_birthplace {

}

input.edit_contacts_phone {

}

input.edit_contacts_location_post {
  width: 115px;
}

input.edit_contacts_location_full {
  width: 435px;
}

input.edit_contacts_location_street {
  width: 245px;
}

input.edit_contacts_location_house {
  width: 75px;
}

input.edit_contacts_location_flat {
  width: 75px;
}

div.input-append.date.datepicker {
  margin-top: -10px;
  margin-left: -4px;
  height: 20px;
}

.search_stream {
  width: 175px;
}

.search_form {
  width: 95px;
}

.search_status {
  width: 105px;
}

.search_specialites {
  width: 105px;
}

.sample {
  display: inline;
}

.btn-save {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

input.date-edit {
  border: 0px;
  padding: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  outline: none;
  background-color: transparent;
  margin-bottom: 0px;
  width: 100px;
  height: auto;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -moz-border-bottorightm-right-radius: 0px;
  -o-border-top-left-radius: 0px;
  -o-border-bottom-left-radius: 0px;
  -o-border-top-right-radius: 0px;
  -o-border-bottom-right-radius: 0px;
  -ms-border-top-left-radius: 0px;
  -ms-border-bottom-left-radius: 0px;
  -ms-border-top-right-radius: 0px;
  -ms-border-bottom-right-radius: 0px;
  color: rgb(0, 136, 204);
  text-decoration: none;
  border-bottom: dashed 1px #0088cc;
  font-family: sans-serif;
  font-size: 16px;
  outline-offset: 0px;
  text-align: center;
}

input.date-edit:focus {
  border: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  outline: none;
  background-color: transparent;
  color: rgb(0, 85, 128);
  padding: 0px;
  margin: 0px;
  outline-offset: 0px;
  border-bottom: dashed 1px #0088cc;
}

input.date-edit:hover {
  color: rgb(0, 85, 128);
}

input.typeahead-edit {
  border: 0px;
  padding: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  outline: none;
  background-color: transparent;
  margin-bottom: 0px;
  width: 100px;
  height: auto;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -moz-border-bottorightm-right-radius: 0px;
  -o-border-top-left-radius: 0px;
  -o-border-bottom-left-radius: 0px;
  -o-border-top-right-radius: 0px;
  -o-border-bottom-right-radius: 0px;
  -ms-border-top-left-radius: 0px;
  -ms-border-bottom-left-radius: 0px;
  -ms-border-top-right-radius: 0px;
  -ms-border-bottom-right-radius: 0px;
  color: rgb(0, 136, 204);
  text-decoration: none;
  border-bottom: dashed 1px #0088cc;
  font-family: sans-serif;
  font-size: 16px;
}

input.typeahead-edit:focus {
  border: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  outline: none;
  background-color: transparent;
  color: rgb(0, 85, 128);
  border-bottom: dashed 1px #0088cc;
}

input.typeahead-edit:hover {
  color: rgb(0, 85, 128);
}

.editable-outline-none {
  outline: none;
}

.editable-title:focus {
  color: rgb(0, 85, 128) !important;
  border-bottom: dashed 1px #0088cc;
}

.editable-select2 {
  width: 200px;
}

.editable-select2 .select2-chosen {
  color: rgb(0, 136, 204);
  text-decoration: none;
  border-bottom: dashed 1px #0088cc;
  font-family: sans-serif;
  font-size: 16px;;
}

table.editable-table td {
  padding: 3px;
}

input[pk-datepicker],
input[pk-geopicker] {
  border-radius: 0px;
}

.panel-heading .panel-title a {
  cursor: pointer ;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, .33);
}

.modal {
  overflow: auto;
  text-shadow: none;
  cursor: default;
}

.header span.greeting {
  color: #FFFFFF;
  margin-top: 5px;
  margin-left: 15px;
  cursor: default;
  position: absolute;
}

.header span.user-login {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}
