<div class="certificates-editor">

  <form pk-validate>
    <div class="flex">

      <div class="form-group">
        <label class="control-label">Рік</label>
        <input class="form-control" required type="text" name="Year"
               ng-model="newCertificate.Year" ng-pattern="/^2\d{3}$/" />
      </div>

      <div class="form-group">
        <label class="control-label">Номер</label>
        <input class="form-control" required type="text" name="Number"
               ng-model="newCertificate.Number" ng-pattern="/^\d{7,8}$/" />
      </div>

      <div class="form-group">
        <label class="control-label">Пін</label>
        <input class="form-control" required type="text" name="pin"
               ng-model="newCertificate.Pin" ng-pattern="/^\d{4}$/" />
      </div>

      <div class="form-group vertical-bottom-align">
        <button class="btn btn-primary" ng-disabled ng-click="addCertificate()">
          Додати сертифікат
        </button>
      </div>

    </div>

  </form>

  <div ng-repeat="certificate in certificates track by $index"
       pk-hideable class="zno-marks" toggled="true">

    <header>
      <span class="useless">Рік:</span>
      <b>{{ certificate.Year }}</b>

      <span class="useless">Номер:</span>
      <b>{{ certificate.Number }}</b>

      <span class="useless">Пін:</span>
      <b>{{ certificate.Pin }}</b>
    </header>

    <content>

      <table class="table table-bordered">
      <thead>
        <th>Назва предмету</th>
        <th>Оцінка</th>
        <th>Дія</th>
      </thead>
      <tbody>

        <tr ng-repeat="item in certificate.marks track by $index">
          <td>{{ dictionary.getCertificateSubjectName(item.Subject) }}</td>
          <td>{{ item.Mark }}</td>
          <td>
            <button class="btn btn-danger btn-xs"
                    ng-click="removeSubject(certificate, $index)">
              <span class="glyphicon glyphicon-remove"></span>
              видалити
            </button>
          </td>
        </tr>

        <tr>
          <td>
            <select ui-select2 ng-model="newSubject.Subject">
              <option ng-repeat="subject in dictionary.CertificateSubject"
                      ng-value="subject.id" ng-bind="subject.Name"></option>
            </select>
          </td>
          <td>
            <input class="form-control" ng-model="newSubject.Mark">
          </td>
          <td>
            <button class="btn btn-success btn-xs" ng-click="addSubject(certificate)">
              <span class="glyphicon glyphicon-plus"></span>
              додати
            </button>
          </td>
        </tr>

      </tbody>
      </table>

    </content>

  </div>

</div>
