<strong class="title" ng-bind="item.key"></strong>
<span ng-if="item.type === 'add'">
  (відсутній в ЄДБО)
</span>
<span ng-if="item.type === 'remove'">
  (відсутній у нас)
</span>

<button tabindex="-1" class="btn btn-xs btn-success"
        ng-if="item.type && item.type !== 'edit'" ng-click="add()">
  <span ng-if="item.type === 'add'">
    додати в ЄДБО
  </span>
  <span ng-if="item.type === 'remove'">
    додати до нас
  </span>
</button>

<button class="btn btn-xs btn-warning"
        ng-if="item.type === 'edit' && handled" ng-click="edit()">
  виправити значення в ЄДБО
</button>

<div ng-if="!handled && item.type === 'edit'" class="diff-item">
  <div>
    <span>наше значення:</span>
    <code ng-bind="item.current" class="strong"></code>
  </div>
  <div>
    <span>значення в ЄДБО:</span>
    <code ng-bind="item.ref" class="strong"></code>
  </div>
</div>

<pre ng-if="!handled && item.type !== 'edit' && item.current"
     ng-bind="item.current | json">
</pre>

<!-- request status -->
<div ng-show="handled && item.type === 'edit' && item.key === 'Status'"
     class="diff-item">
  <div>
    <span>наше значення:</span>
    <code class="strong">
      {{ dict.getRequestStatusName(item.current) }}
    </code>
  </div>
  <div>
    <span>значення в ЄДБО:</span>
    <code class="strong">
      {{ dict.getRequestStatusName(item.ref) }}
    </code>
  </div>
</div>

<!-- exam -->
<div ng-if="handled && item.type === 'add' && item.key === 'Exams'"
     class="diff-item exam">
  <div ng-if="item.current.Primary">
    Фаховий іспит:
    <strong ng-bind="item.current.Mark"></strong>
  </div>
  <div ng-if="item.current.Foreign">
    Іноземна мова:
    <strong ng-bind="item.current.Mark"></strong>
  </div>
  <div ng-if="item.current.Subject">
    {{ dict.getCertificateSubjectName(item.current.Subject) }}
    <strong ng-bind="item.current.Mark"></strong>
  </div>
</div>


<!-- original -->
<div ng-show="handled && item.type === 'edit' && item.key === 'Original'"
     class="diff-item">
  <div>
    <span>наше значення:</span>
    <code class="strong">
      {{ item.current ? 'Так' : 'Ні' }}
    </code>
  </div>
  <div>
    <span>значення в ЄДБО:</span>
    <code class="strong">
      {{ item.ref ? 'Так' : 'Ні' }}
    </code>
  </div>
</div>
