<div class="edudocuments-editor">

  <form pk-validate>
    <div class="flex">

      <div class="form-group no-grow">
        <label class="control-label">Тип</label>
        <select ui-select2 required name="type" ng-model="data.Type">
          <option ng-repeat="type in dictionary.EduDocumentType"
                  ng-value="type.id" ng-bind="type.Name"></option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label" l10n-text="AddPerson.document_sn"></label>
        <input class="form-control" required type="text" pk-edudocument-id
               name="id" ng-model="data.id" />
      </div>

      <div class="form-group">
        <label class="control-label" l10n-text="AddPerson.passport_given"></label>
        <input class="form-control" required type="text" name="GivenBy"
               ng-model="data.GivenBy" />
      </div>

      <div class="form-group">
        <label class="control-label">Дата видачі</label>
        <input class="form-control" required type="text" name="Date"
               pk-datepicker ng-model="data.Date" mode="decade" />
      </div>

    </div>

    <div class="flex">

      <div class="form-group">
        <label class="control-label">Оцінка</label>
        <input class="form-control" required type="text" name="Mark"
               ng-model="data.Mark" ng-pattern="/^\d{1,3}\.?\d{0,2}$/" />
      </div>

      <div class="form-group">
        <label class="control-label">Тип оцінки</label>
        <select ui-select2 required name="markType" ng-model="data.MarkType">
          <option ng-repeat="type in dictionary.EduDocumentMarkType"
                  ng-value="type.id" ng-bind="type.Name"></option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label">Нагорода</label>
        <select ui-select2 required name="Award" ng-model="data.Award">
          <option ng-repeat="type in dictionary.EduDocumentAward"
                  ng-value="type.id" ng-bind="type.Name"></option>
        </select>
      </div>

    </div>

    <div>
      <div class="form-group vertical-bottom-align">
        <button class="btn btn-primary" ng-disabled ng-click="addDocument()">Додати документ</button>
      </div>
    </div>

  </form>

  <div ng-repeat="document in documents track by $index">
    <h3>
      <button type="button" class="close" ng-click="removeDocument($index)">&times;</button>
      {{ dictionary.getEduDocumentTypeName(document.Type) }}

      <small ng-bind="document.GivenBy"></small>

      <span class="label label-info" ng-show="document.Award !== 0">
        {{ dictionary.getEduDocumentAwardName(document.Award) }}
      </span>
    </h3>

    оцінка:
    <div class="form-group-small">
      <input type="text" class="form-control" required ng-model="document.Mark">
    </div>

    <span class="label label-primary">
      {{ document.id.Series | uppercase }} {{ document.id.Number }}
    </span>

    <span class="label label-primary">
      дата: {{ document.Date | date:'dd.MM.yyyy' }}
    </span>
  </div>

</div>
