<div class="font-12 bold center">
  <div>АРКУШ РЕЗУЛЬТАТІВ ВСТУПНИХ ВИПРОБУВАНЬ</div>
  <div>
    № <span class="field field-number">{{ request.Number }}</span>
  </div>
</div>
<div class="font-12">
  <ol>
    <div class="line-7"></div>
    <li>
      Результати оцінювання якості освіти та вступних екзаменів (творчих конкурсів)
      <div class="font-9">
        <table class="bordered">
          <tr>
            <th rowspan="2" class="certificate-index">№ з/п</th>
            <th rowspan="2" class="certificate-subject">Конкурсні предмети (творчі конкурси)</th>
            <th rowspan="2" class="certificate-number">Сертифікат (номер), атестат/диплом (серія, номер) або характер вступного випробування (усний, письмовий тощо)</th>
            <th rowspan="2" class="certificate-date">Дата видачі документа або дата вступного випробування (число, місяць)</th>
            <th colspan="2">Кількість балів</th>
            <th rowspan="2" class="certificate-examiners">Прізвище, ініціали та підписи екзаменаторів (відповідальної особи)</th>
          </tr>
          <tr>
            <th class="certificate-mark-digit">цифрами</th>
            <th class="certificate-mark-letter">літерами</th>
          </tr>
          <tr ng-repeat="exam in request.Exams">
            <td class="certificate-index">
              {{ $index + 1 }}
            </td>
            <td class="certificate-subject">
              <span ng-show="exam.Primary">
                {{ request.Speciality.Name }}
              </span>
              <span ng-show="exam.Foreign">
                Іноземна мова
              </span>
            </td>
            <td class="certificate-number">
              Комп’ютерне тестування
            </td>
            <td class="certificate-date">
              <span ng-show="exam.Primary">
                {{ exams.date.primary | date: 'dd.MM.yyyy' }}
              </span>
              <span ng-show="exam.Foreign">
                {{ exams.date.foreign | date: 'dd.MM.yyyy' }}
              </span>
            </td>
            <td class="certificate-mark-digit"></td>
            <td class="certificate-mark-letter"></td>
            <td class="certificate-examiners"></td>
          </tr>
        </table>
      </div>
    </li>
    <div class="line-7"></div>
    <li>
      Конкурсний бал (сума балів)
      <span class="field field-contest-score">{{ contestScore }}</span>
    </li>
  </ol>
  <div class="line-7"></div>
  <div>
    М.П.
    &nbsp;&nbsp;&nbsp;
    Відповідальний секретар приймальної (відбіркової) комісії
    <span class="field field-sign">&nbsp;</span>
    &nbsp;&nbsp;&nbsp;
    <span class="field field-signer-surname">
      Світанько М.В.
    </span>
  </div>
</div>
