<div class="column column-one">
  <div class="font-10 bold center">Розклад вступних випробувань</div>
  <div class="line-1"></div>
  <div class="line-1"></div>
  <table class="bordered">
    <tr>
      <th class="exam-index">
        № з/п
      </th>
      <th class="exam-name">
        Назва вступного випробування
      </th>
      <th class="exam-date">
        Дата
      </th>
      <th class="exam-time">
        Час початку
      </th>
    </tr>
    <tr ng-repeat="exam in request.Exams">
      <td class="exam-index">{{ $index + 1 }}</td>
      <td class="exam-name">
        <span ng-show="exam.Primary">
          Тестування з фаху
        </span>
        <span ng-show="exam.Foreign">
          Тестування з іноземної мови
        </span>
      </td>
      <td class="exam-date">
        <span ng-show="exam.Primary">
          {{ exams.date.primary | date: 'dd.MM.yyyy' }}
        </span>
        <span ng-show="exam.Foreign">
          {{ exams.date.foreign | date: 'dd.MM.yyyy' }}
        </span>
      </td>
      <td class="exam-time">
        <span ng-show="exam.Primary">
          {{ exams.time.primary }}
        </span>
        <span ng-show="exam.Foreign">
          {{ exams.time.foreign }}
        </span>
      </td>
    </tr>
  </table>
  <div class="line-1"></div>
  <div class="font-10">
    <ol>
      <div class="bold">ПРИМІТКИ:</div>
      <li>Аркуш вступних випробувань є перепусткою на випробування.</li>
      <li>Після закінчення вступних випробувань аркуш повинен бути повернений у приймальну комісію.</li>
      <li>При отриманні незадовільної оцінки аркуш вступних випробувань залишається в екзаменатора.</li>
    </ol>
  </div>
</div>
<div class="column column-two">
  <div class="font-8 right">ЗАТВЕРДЖЕНО</div>
  <div class="clear"></div>
  <div class="font-8 right">
    <div>Наказ Міністерства</div>
    <div>освіти і науки України</div>
    <div>від <span class="space-11">&nbsp;</span> 2014 року  № <span class="space-11">&nbsp;</span></div>
  </div>
  <div class="clear"></div>
  <div class="font-8 bold right">Форма № Н-1.04</div>
  <div class="clear"></div>
  <div class="line-1"></div>
  <div class="line-1"></div>
  <div class="font-12 center">
    <span class="field field-institute">Запорізька державна інженерна академія</span>
  </div>
  <div class="clear"></div>
  <div class="line-1"></div>
  <div class="line-1"></div>
  <div class="line-1"></div>
  <div class="line-1"></div>
  <div class="font-10 center">
    Форма навчання:
  </div>
  <div class="font-12 center">
    <span class="field field-form">{{ dict.getTeachingFormName(request.TeachingForm) }}</span>
  </div>
  <div class="clear"></div>
  <div class="line-1"></div>
  <div class="line-1"></div>
  <div class="line-1"></div>
  <div class="line-1"></div>
  <div class="font-10 bold center">
    <div>АРКУШ РЕЗУЛЬТАТІВ ВСТУПНИХ ВИПРОБУВАНЬ</div>
    <div>№ <span class="field field-number">{{ request.Number }}</span></div>
  </div>
  <div class="line-1"></div>
  <div class="line-1"></div>
  <div class="font-10">
    <div>
      Прізвище
      <span class="field field-surname">{{ request.Person.Surname }}</span>
    </div>
    <div>
      Ім’я
      <span class="field field-name">{{ request.Person.Name }}</span>
    </div>
    <div>
      По батькові
      <span class="field field-patronymic">{{ request.Person.Patronymic }}</span>
    </div>
    <div>
      Інститут, факультет, відділення
      <span class="field field-faculty">{{ request.Speciality.Faculty.ShortName }}</span>
    </div>
    <div>
      Освітньо-кваліфікаційний рівень
      <span class="field field-level">{{ dict.getStreamName(request.Stream) }}</span>
    </div>
    <div class="clear"></div>
    <div class="line-1"></div>
    <div class="line-1"></div>
    <div class="line-1"></div>
    <div class="line-1"></div>
    <div class="left photo">
      <div class="line-17"></div>
      <div>Фотокартка</div>
      <div>3x4</div>
    </div>
    <div class="left sign-block">
      <div class="line-13"></div>
      <div>
        Відповідальний секретар приймальної (відбіркової) комісії
        <span class="field field-sign">&nbsp;</span>
      </div>
      <div class="clear"></div>
      <div class="line-13"></div>
      М.П.
    </div>
  </div>
</div>
