<h4>Вибір екзаменів</h4>

<ng-form pk-validate ng-if="info.Stream == 1">
  <div>
    <div class="form-group">
      <label class="control-label">Профільний предмет</label>
      <select ui-select2 required name="Primary"
              ng-model="info.Exams[0].Subject">
        <option ng-repeat="subject in primary"
                ng-value="subject.id" ng-bind="subject.Name">
        </option>
      </select>
    </div>
  </div>

  <div>
    <div class="form-group">
      <label class="control-label">Другий предмет</label>
      <select ui-select2 required name="Secondary"
              ng-model="info.Exams[1].Subject">
        <option ng-repeat="subject in secondary"
                ng-value="subject.id" ng-bind="subject.Name">
        </option>
      </select>
    </div>
  </div>

  <div>
    <div class="form-group">
      <label class="control-label">Третій предмет</label>
      <select ui-select2 required name="Optional"
              ng-model="info.Exams[2].Subject">
        <option ng-repeat="subject in optional"
                ng-value="subject.id" ng-bind="subject.Name">
        </option>
      </select>
    </div>
  </div>
</ng-form>

<div ng-if="info.Stream != 1">
  <ol>
    <li ng-repeat="exam in info.Exams">
      <h4 ng-if="exam.Primary">
        <b>Фаховий іспит</b>
      </h4>
      <h4 ng-if="exam.Foreign">
        <b>Іноземна мова</b>
      </h4>
    </li>
  </ol>
</div>
