<div class="geopicker-arrow"></div>
<h4 class="text-danger" ng-show="found.length === 0">
  Не знайдено.
</h4>
<ul>
  <li ng-repeat="item in found" ng-click="select(item)">
    <span ng-bind="item.level1Name" class="label label-primary"></span>
    <span ng-bind="item.level2Name" class="label label-success"></span>
    <span ng-bind="item.level3Name" class="label label-info" ng-show="item.level3Name"></span>
    <span ng-bind="item.level4Name" class="label label-warning" ng-show="item.level4Name"></span>
  </li>
</ul>
