<div class="panel panel-default">
  <div class="panel-body">

    <div pk-hideable toggled>
      <header>
        Персональна інформація
      </header>
      <content>
        <table class="table">
          <tbody>
            <tr>
              <td>ПІБ</td>
              <td>
                <span ng-class="{ 'text-success bold': person.Synchronized }">
                  {{ person.Surname }}
                  {{ person.Name }}
                  {{ person.Patronymic }}
                </span>
              </td>
            </tr>
            <tr>
              <td>Дата народження</td>
              <td>{{ person.BirthDate | date: 'dd.MM.yyyy' }}</td>
            </tr>
            <tr>
              <td>Стать</td>
              <td ng-bind="dictionary.getSexName(person.Sex)"></td>
            </tr>
            <tr>
              <td>Місце народження</td>
              <td ng-bind="BirthPlace"></td>
            </tr>
            <tr>
              <td>Іноземець</td>
              <td>
                {{ person.IsForeigner ? 'так' : 'ні'}}
              </td>
            </tr>
            <tr>
              <td>Потребує гуртожиток</td>
              <td>
                {{ person.NeedHostel ? 'так' : 'ні'}}
              </td>
            </tr>
          </tbody>
        </table>
      </content>
    </div>

    <div pk-hideable toggled>
      <header>
        Контактна інформація
      </header>
      <content>
        <table class="table">
          <tbody>
            <tr>
              <td>Почтовий індекс</td>
              <td ng-bind="person.PostCode"></td>
            </tr>
            <tr>
              <td>Місто проживання</td>
              <td ng-bind="LivingPlace"></td>
            </tr>
            <tr>
              <td>Вулиця</td>
              <td>
                {{ dictionary.getStreetTypeShort(person.StreetType) }}
                {{ person.LivingStreet }}
              </td>
            </tr>
            <tr>
              <td>Телефон</td>
              <td>{{ person.PhoneNumber }}</td>
            </tr>
          </tbody>
        </table>
      </content>
    </div>

    <div pk-hideable toggled>
      <header>
        Документи, що посвідчують особу
      </header>
      <content>
        <table class="table">
          <thead>
            <tr>
              <th colspan="2">{{ dictionary.getDocumentTypeName(person.Document.Type) }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Серія та номер</td>
              <td>
                {{ person.Document.id.Series }}
                {{ person.Document.id.Number }}
              </td>
            </tr>
            <tr>
              <td>Видано</td>
              <td>
                {{ person.Document.GivenBy }}
              </td>
            </tr>
            <tr>
              <td>Дата</td>
              <td ng-bind="person.Document.Date | date: 'dd.MM.yyyy'"></td>
            </tr>
          </tbody>
        </table>
        <br />
        <table class="table">
          <tbody>
            <tr>
              <td>Індивідуальний податковий номер</td>
              <td>
                {{ person.IPN }}
              </td>
            </tr>
          </tbody>
        </table>
      </content>
    </div>

    <div pk-hideable toggled>
      <header>
        Документи про освіту
      </header>
      <content>
        <h4 ng-hide="person.EduDocuments.length > 0" class="text-warning">
          Не знайдено документів!
        </h4>

        <div class="list-group">
          <div class="list-group-item"
              ng-repeat="document in person.EduDocuments">
            <h4 class="list-group-item-heading">
              <span class="useless" ng-if="document.id_">
                #{{ document.id_ }}
              </span>
              {{ dictionary.getEduDocumentTypeName(document.Type) }}

              <strong>
                {{ document.id.Series }}
                {{ document.id.Number }}
              </strong>

              <span class="label label-info" ng-show="document.Award"
                    ng-bind="dictionary.getEduDocumentAwardName(document.Award)">
              </span>
            </h4>

            <p class="list-group-item-text">
              <div ng-hide="auth.Level > 0">
                <span class="pull-left mark-label">
                  Бал:
                </span>
                <div class="input-group mark-edit">
                  <input type="text" class="form-control" ng-model="document.Mark" placeholder="Бал">
                  <span class="input-group-addon">
                    <strong>
                      з {{ document.MarkType }}
                    </strong>
                  </span>
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"
                            ng-click="updateEduMark(document)">
                      Зберегти
                    </button>
                  </span>
                </div>
              </div>
              <div class="list-group-item-text" ng-show="auth.Level > 0">
                Бал:
                <strong>{{ document.Mark }} з {{ document.MarkType }}</strong>
              </div>
              Виданий:
              <strong>
                {{ document.GivenBy }},
                {{ document.Date | date: 'dd.MM.yyyy' }}
              </strong>
            </p>
          </div>
        </div>
      </content>
    </div>

    <div pk-hideable toggled>
      <header>
        Сертифікати ЗНО
      </header>
      <content>
        <h4 ng-hide="person.Certificates.length > 0" class="text-warning">
          Не знайдено сертифікатів!
        </h4>

        <div class="list-group">
          <div class="list-group-item"
              ng-repeat="certificate in person.Certificates">
            <h4 class="list-group-item-heading">
              <span class="useless" ng-if="certificate.id">
                #{{ certificate.id }}
              </span>
              Сертифікат №<strong ng-bind="certificate.Number"></strong>
              (PIN: {{ certificate.Pin }})

              <span class="label label-info" ng-bind="certificate.Year"></span>
            </h4>

            <table class="table">
              <thead>
                <th>Назва предмету</th>
                <th>Оцінка</th>
                <th></th>
              </thead>
              <tbody>
                <tr ng-repeat="mark in certificate.marks track by $index" ng-if="mark">
                  <td ng-bind="dictionary.getCertificateSubjectName(mark.Subject)"></td>
                  <td ng-bind="mark.Mark"></td>
                  <td>
                    <button class="btn btn-danger btn-xs"
                            ng-click="showRemoveCertMarkModal(certificate, $index)"
                            ng-if="!person.Synchronized">
                      <span class="glyphicon glyphicon-remove"></span>
                      видалити
                    </button>
                  </td>
                </tr>

                <tr >
                  <td>
                    <select ui-select2 ng-model="certificate.newSubject">
                      <option ng-repeat="subject in dictionary.CertificateSubject"
                              ng-value="subject.id"
                              ng-bind="subject.Name"></option>
                    </select>
                  </td>
                  <td colspan="2">
                    <div class="input-group" style="width: 100%;">
                      <input class="form-control" ng-model="certificate.newMark">
                      <span class="input-group-btn">
                        <button class="btn btn-success"
                                ng-click="certificateAddMark(certificate)">
                          <span class="glyphicon glyphicon-plus"></span>
                          додати
                        </button>
                      </span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </content>
    </div>

    <div pk-hideable toggled>
      <header>
        Пільги
      </header>
      <content>
        <h4 ng-hide="person.Benefits.length > 0" class="text-warning">
          Не знайдено пільг!
        </h4>

        <ul>
          <li ng-repeat="benefit in person.Benefits">
            <b ng-bind="dictionary.getBenefitTypeName(benefit)"></b>
          </li>
        </ul>
      </content>
    </div>

    <div pk-hideable toggled ng-show="person.Requests.length > 0">
      <header>
        Заяви (<a href="/request/add/{{ person.id }}">додати</a>)
      </header>
      <content>
        <ul>
          <li ng-repeat="request in person.Requests">
            <a href="/request/{{ request.id }}" pk-request-id="request"
               ng-class="{'text-primary bold': request.EZ, 'text-success bold': request.Original, 'text-danger bold': [2, 3, 6].indexOf(request.Status) != -1 }"></a>
          </li>
        </ul>
      </content>
    </div>

  </div>
</div>
