<div class="request-details">
  <h3 class="useless" ng-hide="request.Exams !== undefined || error">
    Завантаження...
  </h3>

  <h3 class="pull-right" ng-show="auth.Level == 0 && detailed">
    <span class="glyphicon glyphicon-trash trash" ng-click="showRemoveRequestModal(request)"></span>
  </h3>

  <div ng-if="request.Exams !== undefined">
    <div ng-show="detailed">
      <h3>
        <a href="/person/{{ request.Person.id }}">
          {{ request.Person.Surname }}
          {{ request.Person.Name }}
          {{ request.Person.Patronymic }}
        </a>
      </h3>

      <h4>
        НОС:
        <b pk-request-id="request"></b>
        <span class="label label-primary" ng-show="request.EZ">
          електр. вступ
        </span>
      </h4>
    </div>
    <div ng-show="!detailed">
      <h3>
        <a href="/person/{{ request.Person.id }}">Інформація про особу</a>
      </h3>
    </div>
    <h4>
      Дата:
      <b>
        {{ request.Date | date: 'dd.MM.yyyy' }}
      </b>
    </h4>

    <h4>
      Документ:
      <span class="useless">#{{ request.EduDocument.id }}</span>
      <b>
        {{ request.EduDocument.Series }}
        {{ request.EduDocument.Number }}
      </b>
      <span ng-bind="dict.getEduDocumentTypeName(request.EduDocument.Type)"></span>
    </h4>

    <div class="details-group">
      <h4>
        Потік:
        <b>
          {{ dict.getStreamName(request.Speciality.Stream) }}
        </b>
      </h4>
      <h4>
        Спеціальність:
        <b>
          {{ request.Speciality.Name }}
        </b>
      </h4>
      <h4>
        Форма навчання:
        <b>
          {{ dict.getTeachingFormName(request.TeachingForm) }}
        </b>
      </h4>
      <h4 ng-if="request.Stream == 1">
        Пріорітет:
        <b>
          {{ request.Priority }}
        </b>
      </h4>
    </div>

    <div class="details-group">
      <h4 ng-if="detailed">
        Оригінали:
        <b ng-show="request.Original">
          так
        </b>
        <b ng-hide="request.Original">
          ні
        </b>
      </h4>
      <h4>
        Підготовчі курси:
        <span ng-show="request.Courses">
          <b>так</b> ({{ request.CoursesMark }})
        </span>
        <b ng-hide="request.Courses">
          ні
        </b>
      </h4>

      <h4 ng-show="request.Stream !== 4" ng-if="auth.Level > 1">
        Статус:
        <b>
          {{ dict.getRequestStatusName(request.Status) }}
        </b>
      </h4>
    </div>

    <div class="details-group" ng-show="request.CertificateMark1">
      <h4>
        ЗНО 1:
        <b ng-bind="dict.getCertificateSubjectName(request.CertificateMark1.Subject)"></b>
        ({{request.CertificateMark1.Mark}})
      </h4>
      <h4>
        ЗНО 2:
        <b ng-bind="dict.getCertificateSubjectName(request.CertificateMark2.Subject)"></b>
        ({{request.CertificateMark2.Mark}})
      </h4>
      <h4>
        ЗНО 3:
        <b ng-bind="dict.getCertificateSubjectName(request.CertificateMark3.Subject)"></b>
        ({{request.CertificateMark3.Mark}})
      </h4>
    </div>

    <div class="details-group request-status" ng-show="request.Stream !== 4" ng-if="auth.Level < 2">
      <label class="control-label">
        Статус
        <button class="btn btn-xs btn-primary" ng-click="updateStatus(request.id, request.Status)">
          змінити
        </button>
      </label>
      <select ui-select2 ng-model="request.Status">
        <option ng-repeat="type in dict.RequestStatus"
                ng-value="type.id" ng-bind="type.Name"></option>
      </select>
    </div>

    <div class="details-group" ng-if="request.SubRequests.length > 0">
      Підзаяви:
      <ul>
        <li ng-repeat="item in request.SubRequests">
          <div>
            <span class="useless">
              #{{ item.id }}
            </span>
            {{ dict.getSubRequestTypeName(item.Type) }}
          </div>
          <div class="request-status">
            <label class="control-label">
              Статус
              <button class="btn btn-xs btn-primary" ng-click="updateSubStatus(item.id, item.Status)">
                змінити
              </button>
            </label>
            <select ui-select2 ng-model="item.Status">
              <option ng-repeat="type in dict.RequestStatus"
                      ng-value="type.id" ng-bind="type.Name"></option>
            </select>
          </div>
        </li>
      </ul>
    </div>

    <div class="details-group" ng-if="request.Exams.length > 0 && auth.Level < 2">
      Екзамени:
      <ul>
        <li ng-repeat="item in request.Exams">
          <span class="useless">
            #{{ item.id }}
          </span>
          <span class="exam-name">
            {{ dict.getExamTypeName(item) }}
          </span>

          <div class="flex">
            <div class="exam-mark input-group input-group-sm">
              <input type="text" class="form-control" ng-model="item.Mark">

              <span class="input-group-btn">
                <button class="btn btn-primary" ng-click="updateMark(item)">
                  зберегти
                </button>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="details-group" ng-if="request.Exams.length > 0 && auth.Level >= 2">
      Екзамени:
      <ul>
        <li ng-repeat="item in request.Exams">
          <span class="useless">
            #{{ item.id }}
          </span>
          <b>
            {{ dict.getExamTypeName(item) }}:
          </b>
          {{ item.Mark }}
        </li>
      </ul>
    </div>

    <div class="details-group" ng-if="auth.Level < 2">
      <h4>
        <a href="/request/{{ request.Person.id }}/exams">
          Заповнення екзаменів
        </a>
      </h4>
      <h4>
        <a class="text-success" ng-click="toggleOriginal()"
           ng-hide="request.Original">
          Встановити оригінали
        </a>
        <a class="text-danger" ng-click="toggleOriginal()"
            ng-show="request.Original">
          Прибрати оригінали
        </a>
      </h4>
    </div>
  </div>

  <h1 class="text-align-center text-danger" ng-show="error">
    Виникла помилка! Зверніться до адміністратора!
  </h1>
</div>
