<ng-form pk-validate>
  <h4>Вибір предметів ЗНО</h4>
  
  <div>
    <div class="form-group">
      <label class="control-label">Профільний предмет</label>
      <select ui-select2 required name="Primary" ng-model="info.CertificateMark1">
        <option ng-repeat="subject in primary"
                ng-init="mark = getMark(subject.id)"
                ng-value="mark.id" ng-disabled="!mark"
                ng-bind="subject.Name + ' ' + getMarkText(mark)">
        </option>
      </select>
    </div>
  </div>

  <div>
    <div class="form-group">
      <label class="control-label">Другий предмет</label>
      <select ui-select2 required name="Secondary" ng-model="info.CertificateMark2">
        <option ng-repeat="subject in secondary"
                ng-init="mark = getMark(subject.id)"
                ng-value="mark.id" ng-disabled="!mark"
                ng-bind="subject.Name + ' ' + getMarkText(mark)">
        </option>
      </select>
    </div>
  </div>

  <div>
    <div class="form-group">
      <label class="control-label">Третій предмет</label>
      <select ui-select2 required name="Optional" ng-model="info.CertificateMark3">
        <option ng-repeat="subject in optional"
                ng-init="mark = getMark(subject.id)"
                ng-value="mark.id" ng-disabled="!mark"
                ng-bind="subject.Name + ' ' + getMarkText(mark)">
        </option>
      </select>
    </div>
  </div>
</ng-form>
