<!doctype html>
<html lang="ua" ng-app="ZSEA-PK-App" ng-controller="MainController">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />

    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-theme.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link type="text/css" rel="stylesheet" href="/css/select2.css">
    <link type="text/css" rel="stylesheet" href="/css/styles.css">

    <!-- build:script libs -->
    <!-- /build -->
    <script type="text/javascript" src="/locale/ua.js"></script>
    <script type="text/javascript" src="/locale/bootstrap-datepicker.ua.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/services.js"></script>
    <script type="text/javascript" src="/js/directives.js"></script>
    <script type="text/javascript" src="/js/controllers.js"></script>
    <script type="text/javascript" src="/js/filters.js"></script>

    <title ng-bind="title + ' :: ' + title_additional">ZSEA Matriculant</title>
  </head>
  <body>
    <div class="header">
      <span class="greeting" ng-if="authorized">
        З поверненням, 
        <span class="user-login" ng-bind="auth.Name">
        </span>
      </span>
      <div class="menu" ui-floating-menu ng-if="authorized">
        <div class="menu_title" l10n-text="Main.menu_title_person"></div>
        <ul>
          <a menu-link="^\/person(\/\d+)?$" href="/person">
            <span l10n-text="Main.menu_person_search"></span>
          </a>
          <a menu-link="^\/request(\/\d+)?$" href="/request">
            <span>Пошук заяви</span>
          </a>
          <a menu-link="^\/person\/add$" href="/person/add">
            <span l10n-text="Main.menu_person_add"><span>
          </a>
        </ul>

        <div class="menu_title" ng-if="auth.Level < 2">ЄДЕБО</div>
        <ul ng-if="auth.Level < 2">
          <a menu-link="^\/edbo\/person$" href="/edbo/person">
            <span>Особи</span>
          </a>
          <a menu-link="^\/edbo\/request$" href="/edbo/request">
            <span>Заяви</span>
          </a>
          <a menu-link="^\/edbo\/ez$" href="/edbo/ez">
            <span>Електронний вступ</span>
          </a>
        </ul>

        <div class="menu_title" l10n-text="Main.menu_title_options"></div>
        <ul>
          <a menu-link="^\/data" href="/data" ng-if="auth.Level < 3">
            <span>Дані</span>
          </a>
          <a menu-link="^\/generate" href="/generate" ng-if="auth.Level < 3">
            <span>Генерація</span>
          </a>
          <a href="" ng-click="logout()">
            <span l10n-text="Main.menu_options_search_logout"></span>
          </a>
        </ul>
      </div>

      <a href="/">
        <div class="header_text">
          <span l10n-text="Main.header_zsea"></span>
          <br/>
          <span l10n-text="Main.header_pk"></span>
        </div>
      </a>
      <div class="zsea_logo_small"></div>
      <div class="link">
        <a href="http://pk.zgia.zp.ua">http://pk.zgia.zp.ua</a>
      </div>
    </div>

    <div class="loading-view" ng-if="!authorized">
      Підключення...
    </div>

    <div class="content">
      <div ng-view></div>
    </div>
  </body>
</html>
