<!doctype html>
<html lang="ua" ng-app="RatesBuilder" ng-controller="RatesStream4Controller">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />

    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/lib/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-resource.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/services.js"></script>
    <script type="text/javascript" src="/js/controllers.js"></script>

    <title>Рейтинг</title>
  </head>
  <body id="rates-page">
    <div class="printable" ng-if="rates.magister.length > 0">
      <h3>
        {{ Speciality.Name }}

        <small>
          <b>"магістр"</b>
          станом на {{ getCurrentDate() | date: 'dd.MM.yyyy HH:mm' }}
        </small>

        <small class="strong" ng-if="params.Control">
          місць: {{ MagisterBudget }}
        </small>
      </h3>

      <table>
      <thead>
        <th>
          №
        </th>
        <th>
          Прізвище, ім’я, по батькові
        </th>
        <th ng-show="params.Detailed">
          Диплом
        </th>
        <th ng-show="params.Detailed">
          Фах. іспит
        </th>
        <th ng-show="params.Detailed">
          Іноз. мова
        </th>
        <th>
          Конкурсний бал
        </th>
        <th>
          Пільги
        </th>
        <th>
          О/К
        </th>
        <th ng-show="params.Control">
          Статус
        </th>
        <th ng-show="params.Control"></th>
        <th ng-show="params.Control"></th>
        <th ng-show="params.Control"></th>
        <th ng-show="params.Control"></th>
      </thead>

      <tbody>
        <tr ng-repeat="req in rates.magister"
            ng-class="{ recomend: req.recommend }">
          <td class="text-align-center">
            {{ $index + 1 }}
          </td>
          <td>
            {{ req.Person.Surname }}
            {{ req.Person.Name }}
            {{ req.Person.Patronymic }}
          </td>
          <td class="text-align-center" ng-show="params.Detailed">
            {{ req.EduDocument.Mark.toFixed(2) }}
          </td>
          <td class="text-align-center" ng-show="params.Detailed">
            {{ req.PrimaryMark.toFixed(2) }}
          </td>
          <td class="text-align-center" ng-show="params.Detailed">
            {{ req.ForeignMark.toFixed(2) }}
          </td>
          <td class="text-align-center">
            {{ req.MagisterMark.toFixed(2) }}
          </td>
          <td class="benefit">
            <span ng-repeat="benefit in req.Person.Benefits"
                  ng-if="benefit.Type.id !== 39">
              {{ benefit.Type.Name }};
            </span>
          </td>
          <td class="text-align-center">
            <span ng-show="req.Original">О</span>
            <span ng-show="!req.Original">К</span>
          </td>

          <td class="text-align-center" ng-show="params.Control">
            <a href="/request/{{req.id}}" target="_blank">
              {{ dict.getRequestStatusName(req.Status) }}
            </a>
          </td>

          <td class="text-align-center" ng-show="params.Control">
            <button class="btn btn-xs btn-success" ng-click="recommend(req)">
              рекомендувати
            </button>
          </td>
          <td class="text-align-center" ng-show="params.Control">
            <button class="btn btn-xs btn-warning" ng-click="reject(req)">
              відхилити
            </button>
          </td>
          <td class="text-align-center" ng-show="params.Control">
            <button class="btn btn-xs btn-primary" ng-click="accept(req)">
              допустити
            </button>
          </td>
          <td class="text-align-center" ng-show="params.Control">
            <button class="btn btn-xs btn-success" ng-click="order(req)">
              до наказу
            </button>
          </td>
        </tr>
      </tbody>
      </table>
    </div>

    <div class="printable" ng-if="rates.specialist.length > 0">
      <h3>
        {{ Speciality.Name }}

        <small>
          <b>"спеціаліст"</b>
          станом на {{ getCurrentDate() | date: 'dd.MM.yyyy HH:mm' }}
        </small>

        <small class="strong" ng-if="params.Control">
          місць: {{ SpecialistBudget }}
        </small>
      </h3>

      <table>
      <thead>
        <th>
          №
        </th>
        <th>
          Прізвище, ім’я, по батькові
        </th>
        <th ng-show="params.Detailed">
          Диплом
        </th>
        <th ng-show="params.Detailed">
          Фах. іспит
        </th>
        <th>
          Конкурсний бал
        </th>
        <th>
          Пільги
        </th>
        <th>
          О/К
        </th>
        <th ng-show="params.Control">
          Статус
        </th>
        <th ng-show="params.Control"></th>
        <th ng-show="params.Control"></th>
        <th ng-show="params.Control"></th>
      </thead>

      <tbody>
        <tr ng-repeat="req in rates.specialist"
            ng-class="{ recomend: req.recommend }">
          <td class="text-align-center">
            {{ $index + 1 }}
          </td>
          <td>
            {{ req.Person.Surname }}
            {{ req.Person.Name }}
            {{ req.Person.Patronymic }}
          </td>
          <td class="text-align-center" ng-show="params.Detailed">
            {{ req.EduDocument.Mark.toFixed(2) }}
          </td>
          <td class="text-align-center" ng-show="params.Detailed">
            {{ req.PrimaryMark.toFixed(2) }}
          </td>
          <td class="text-align-center">
            {{ req.SpecialistMark.toFixed(2) }}
          </td>
          <td class="benefit">
            <span ng-repeat="benefit in req.Person.Benefits"
                  ng-if="benefit.Type.id !== 39">
              {{ benefit.Type.Name }};
            </span>
          </td>
          <td class="text-align-center">
            <span ng-show="req.Original">О</span>
            <span ng-show="!req.Original">К</span>
          </td>

          <td class="text-align-center" ng-show="params.Control">
            <a href="/request/{{req.id}}" target="_blank">
              {{ dict.getRequestStatusName(req.Status) }}
            </a>
          </td>

          <td class="text-align-center" ng-show="params.Control">
            <button class="btn btn-xs btn-success" ng-click="recommend(req)">
              рекомендувати
            </button>
          </td>
          <td class="text-align-center" ng-show="params.Control">
            <button class="btn btn-xs btn-warning" ng-click="reject(req)">
              відхилити
            </button>
          </td>
          <td class="text-align-center" ng-show="params.Control">
            <button class="btn btn-xs btn-primary" ng-click="accept(req)">
              допустити
            </button>
          </td>
          <td class="text-align-center" ng-show="params.Control">
            <button class="btn btn-xs btn-success" ng-click="order(req)">
              до наказу
            </button>
          </td>
        </tr>
      </tbody>
      </table>
    </div>

  </body>
</html>
