<!doctype html>
<html lang="ua" ng-app="RatesBuilder" ng-controller="RatesStream1Controller">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />

    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/lib/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-resource.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/services.js"></script>
    <script type="text/javascript" src="/js/controllers.js"></script>

    <title>Рейтинг</title>
  </head>
  <body id="rates-page" class="rates1"
        ng-class="{ general: !params.Phones && !params.Control && !params.Small }">
    <div class="printable">
      <h3>
        {{ Speciality.Name }}

        <small>
          станом на {{ getCurrentDate() | date: 'dd.MM.yyyy HH:mm' }}
        </small> 

        <small class="strong" ng-if="params.Control">
          місць: {{ Budget }}
        </small>
      </h3>

      <table>
      <thead>
        <th>
          №
        </th>
        <th ng-show="params.Control">
          О
        </th>
        <th class="surname">
          Прізвище, ім’я, по батькові
        </th>
        <th ng-show="params.Detailed">
          Атестат
        </th>
        <th ng-show="params.Detailed">
          Профільний предмет
        </th>
        <th ng-show="params.Detailed">
          2-й предмет
        </th>
        <th ng-show="params.Detailed">
          3-й предмет
        </th>
        <th ng-show="params.Detailed">
          Підготовчі курси
        </th>
        <th>
          Конкурсний бал
        </th>
        <th class="benefit" ng-hide="params.Phones">
          Пільги
        </th>
        <th ng-show="params.Phones">
          Напрями
        </th>
        <th ng-show="params.Phones">
          Місто
        </th>
        <th ng-show="params.Phones">
          Телефон
        </th>
        <th>
          Ориг./Коп.
        </th>
        <th>
          Приорітет
        </th>
        <th ng-show="params.Control">
          Статус
        </th>
        <th ng-show="params.Control"></th>
        <th ng-show="params.Control"></th>
        <th ng-show="params.Control"></th>
        <th ng-show="params.Control"></th>
      </thead>

      <tbody>
        <tr ng-repeat="req in rates"
            ng-class="{ recomend: req.recommend, order: req.Status == 7, invalid: !req.Synchronized }">
          <td class="text-align-center">
            {{ $index + 1 }}
          </td>
          <td ng-show="params.Control">
            <span ng-if="req.Original" ng-init="currentOrigIdx = origCounterInc()">
              {{ currentOrigIdx }}
            </span>
          </td>
          <td class="surname">
            {{ req.Person.Surname }}
            {{ req.Person.Name }}
            {{ req.Person.Patronymic }}
          </td>
          <td class="text-align-center" ng-show="params.Detailed">
            {{ req.EduDocument.Mark.toFixed(2) }}
          </td>
          <td class="text-align-center" ng-show="params.Detailed">
            {{ req.profSubj.toFixed(2) }}
          </td>
          <td class="text-align-center" ng-show="params.Detailed">
            {{ req.secSubj.toFixed(2) }}
          </td>
          <td class="text-align-center" ng-show="params.Detailed">
            {{ req.thiSubj.toFixed(2) }}
          </td>
          <td class="text-align-center" ng-show="params.Detailed">
            {{ req.CoursesMark.toFixed(2) }}
          </td>
          <td class="text-align-center">
            {{ req.TotalMark.toFixed(2) }}
          </td>
          <td class="benefit" ng-hide="params.Phones">
            <div ng-repeat="benefit in req.Person.Benefits"
                  ng-if="benefit.Type.Strength !== 2">
              {{ benefit.Type.Name }};
            </div>
            <em ng-if="req.Priority">
              першочерг. вступ
            </span>
          </td>
          <td ng-show="params.Phones">
            {{ req.CrossSpecialities.join(', ') }}
          </td>
          <td ng-show="params.Phones">
            {{ req.Person.LivingPlace }}
          </td>
          <td ng-show="params.Phones">
            {{ req.Person.PhoneNumber }}
          </td>
          <td class="text-align-center">
            <span ng-show="req.Original">Ориг</span>
            <span ng-show="!req.Original">Коп</span>
          </td>
          <td class="text-align-center">
            {{ req.RawPriority }}
          </td>

          <td class="text-align-center" ng-show="params.Control">
            <a href="/request/{{req.id}}" target="_blank">
              {{ dict.getRequestStatusName(req.Status) }}
            </a>
          </td>

          <td class="text-align-center" ng-show="params.Control">
            <button class="btn btn-xs btn-success" ng-click="recommend(req)">
              рекомендувати
            </button>
          </td>
          <td class="text-align-center" ng-show="params.Control">
            <button class="btn btn-xs btn-warning" ng-click="reject(req)">
              відхилити
            </button>
          </td>
          <td class="text-align-center" ng-show="params.Control">
            <button class="btn btn-xs btn-primary" ng-click="accept(req)">
              допустити
            </button>
          </td>
          <td class="text-align-center" ng-show="params.Control">
            <button class="btn btn-xs btn-success" ng-click="order(req)">
              до наказу
            </button>
          </td>
        </tr>
      </tbody>
      </table>
    </div>

  </body>
</html>
