<!doctype html>
<html lang="ua" ng-app="RatesBuilder" ng-controller="ReportController">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />

    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/lib/angular.js"></script>
    <script type="text/javascript" src="/lib/async.js"></script>
    <script type="text/javascript" src="/lib/angular-resource.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/services.js"></script>
    <script type="text/javascript" src="/js/controllers.js"></script>

    <title ng-bind="title"></title>
  </head>
  <body id="report-page" class="printable">
    <table>
    <thead>
      <th class="speciality">
        Напрям
      </th>
      <th class="number">
        Заяви
      </th>
      <th class="number" ng-hide="teachingForm == 2">
        Письм. заяви
      </th>
      <th class="number" ng-hide="teachingForm == 2">
        Ел. заяви
      </th>
      <th class="number" ng-if="passed">
        <div>
          Бюджетних місць
        </div>
      </th>
      <th class="number">
        ПК заяви
      </th>
      <th>
        ПК категорії
      </th>
      <th class="number">
        ПЧ заяви
      </th>
      <th>
        ПЧ категорії
      </th>
      <th class="number">
        <div>
          ориг. / коп.
        </div>
        <div>
          чол. / жін.
        </div>
        <div>
          гуртожиток
        </div>
        <div>
          підг. курси
        </div>
      </th>
      <th class="certificate-subject">
        Предмети ЗНО
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="speciality in specialities">
        <td>
          {{ speciality.Name }}
        </td>
        <td>
          {{ speciality.info.TotalCount }}
        </td>
        <td ng-hide="teachingForm == 2">
          {{ speciality.info.PaperCount }}
        </td>
        <td ng-hide="teachingForm == 2">
          {{ speciality.info.EZCount }}
        </td>
        <td ng-if="passed">
          {{ speciality.info.BudgetCapacity  }}</b>
        </td>
        <td>
          {{ speciality.info.Benefit1Count }}
        </td>
        <td class="splitted">
          <div ng-repeat="benefit in speciality.info.Benefit1Groups">
            <b>{{ benefit.Count }}</b>: {{ benefit.Name }}
          </div>
        </td>
        <td>
          {{ speciality.info.Benefit2Count }}
        </td>
        <td class="splitted">
          <div ng-repeat="benefit in speciality.info.Benefit2Groups">
            <b>{{ benefit.Count }}</b>: {{ benefit.Name }}
          </div>
        </td>
        <td class="splitted">
          <div class="text-align-center">
            <b>{{ speciality.info.OriginalsCount }}</b> /
            {{ speciality.info.TotalCount - speciality.info.OriginalsCount }}
          </div>
          <div class="text-align-center">
            <b>{{ speciality.info.MaleCount }}</b>
            /
            <b>{{ speciality.info.TotalCount - speciality.info.MaleCount }}</b>
          </div>
          <div class="text-align-center">
            <b>{{ speciality.info.HostelCount }}</b>
          </div>
          <div class="text-align-center">
            <b>{{ speciality.info.CoursesCount }}</b>
          </div>
        </td>
        <td class="splitted">
          <div ng-repeat="subject in speciality.info.ZNOSubjects">
            {{ subject.Name }}: <b>{{ subject.Count }}</b>
          </div>
        </td>
      </tr>
    </tbody>
    </table>
  </body>
</html>
