<!doctype html>
<html lang="ua" ng-app="ZSEA-PK-App" ng-controller="SignInController">
  <head>
  	<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-theme.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="/css/styles.css" />

    <!-- build:script libs -->
    <!-- /build -->
    <script type="text/javascript" src="/locale/ua.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/services.js"></script>
    <script type="text/javascript" src="/js/directives.js"></script>
    <script type="text/javascript" src="/js/controllers.js"></script>
    <script type="text/javascript" src="/js/filters.js"></script>

    <title>Авторизація - ЗДІА</title>
  </head>
  <body>
    <form ng-submit="tryLogin()">
      <div class="sign-container">
        <div class="zsea-logo"></div>

        <div class="sign-row"></div>
        <div class="sign-row">
          <input type="text" ng-model="login" placeholder="Користувач" />
        </div>
        <div class="sign-row">
          <input type="password" ng-model="password" placeholder="Пароль" />
        </div class="sign-row">
        <div class="sign-row"></div>

        <div class="sign-footer">
          <button class="btn btn-lg btn-primary">
            Увійти
          </button>
        </div>
      </div>
      </form>
  </body>
</html>
