<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Видалення заяви</h4>
      </div>
      <div class="modal-body">
        <div class="logo-big"></div>
        <p>Ви впевнені, що хочете видалити заяву #<strong ng-bind="removableRequest.id"></strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Закрити</button>
        <button type="button" class="btn btn-danger" ng-click="removeRequest(); $hide()">Так, видалити</button>
      </div>
    </div>
  </div>
</div>
