<div id="add-person-page" class="form-group">
  <div class="row title">
    <h3 class="col-sm-10">
      <span l10n-text="AddPerson.header"></span>
      <b>{{stepNumber}}/7</b>
    </h3>
    <div class="col-sm-2 clear-btn">
      <input tabindex="-1" type="button" class="btn btn-danger"
             l10n-value="AddPerson.clear" ng-click="resetData()" />
    </div>
  </div>

  <form ng-if="step(1)" pk-validate>
    <div class="flex">
      <div class="flex-1 form-group">
        <label l10n-text="AddPerson.surname" class="control-label"></label>
        <input class="form-control" type="text" name="Surname"
               required ng-model="data.Surname" />
      </div>
      <div class="flex-1 form-group">
        <label l10n-text="AddPerson.name" class="control-label"></label>
        <input class="form-control" type="text" name="Name"
               required ng-model="data.Name" />
      </div>
      <div class="flex-1 form-group">
        <label l10n-text="AddPerson.patronymic" class="control-label"></label>
        <input class="form-control" type="text" name="Patronymic"
               required ng-model="data.Patronymic" />
      </div>
    </div>

    <div class="flex">
      <div class="form-group">
        <label l10n-text="AddPerson.document_sn" class="control-label"></label>
        <input class="form-control" pk-passport-data required
               type="text" name="Document" ng-model="data.Document.id" />
      </div>
    </div>

    <div class="flow-controls">
      <input type="button" disabled class="btn"
             l10n-value="AddPerson.prev_page" ng-click="prevStep()">
      <input type="button" ng-disabled class="btn btn-primary"
             l10n-value="AddPerson.next_page" ng-click="tryQuickFind()">
    </div>
  </form>

  <form ng-if="step(2)" pk-validate>
    <div class="flex">
      <div class="flex-1 form-group">
        <label l10n-text="AddPerson.surname" class="control-label"></label>
        <input class="form-control" type="text" name="Surname"
               required ng-model="data.Surname" />
      </div>
      <div class=" flex-1 form-group">
        <label l10n-text="AddPerson.name" class="control-label"></label>
        <input class="form-control" type="text" name="Name"
               required ng-model="data.Name" />
      </div>
      <div class="flex-1 form-group">
        <label l10n-text="AddPerson.patronymic" class="control-label"></label>
        <input class="form-control" type="text" name="Patronymic"
               required ng-model="data.Patronymic" />
      </div>
    </div>

    <div class="flex">
      <div class="form-group">
        <label l10n-text="AddPerson.passport_birthdate" class="control-label">
        </label>
        <input class="form-control" required type="text" name="BirthDate"
               pk-datepicker ng-model="data.BirthDate" mode="decade" />
      </div>
      <div class="flex-1 form-group">
        <label l10n-text="AddPerson.passport_birthplace" class="control-label">
        </label>
        <input class="form-control" required type="text" name="BirthPlace"
               pk-geopicker ng-model="data.BirthPlace" />
      </div>
    </div>

    <div class="flex">
      <div class="flex-2 form-group">
        <label class="control-label">Місто проживання</label>
        <input class="form-control" required type="text" name="LivingPlace"
               pk-geopicker ng-model="data.LivingPlace" />
      </div>
      <div class="form-group">
        <label class="control-label">Тип вулиці</label>
        <select ui-select2 required name="StreetType" ng-model="data.StreetType">
          <option ng-repeat="type in dictionary.StreetType"
                  ng-value="type.id" ng-bind="type.Name"></option>
        </select>
      </div>
      <div class="flex-1 form-group">
        <label class="control-label">Вулиця будинок, квартира</label>
        <input class="form-control" type="text" name="LivingStreet"
               required ng-model="data.LivingStreet" />
      </div>
    </div>

    <div class="flex" ng-init="proposeSex()">
      <div class="form-group">
        <label class="control-label">Стать</label>
        <select ui-select2 required name="Sex" ng-model="data.Sex">
          <option ng-repeat="sex in dictionary.Sex" ng-value="sex.id"
                  ng-bind="sex.SexName"></option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">Контактний телефон</label>
        <input class="form-control" type="text" name="PhoneNumber"
               required ng-model="data.PhoneNumber" />
      </div>
      <div class="form-group">
        <label class="control-label">Поштовий індекс</label>
        <input class="form-control" type="text" name="PostCode"
               ng-model="data.PostCode" ng-pattern="/(^$)|(^\d{5}$)/" />
      </div>
    </div>

    <div class="flex">
      <div class="form-group">
        <label class="control-label">Індивідуальний податковий номер</label>
        <input class="form-control" type="text" name="IPN"
               ng-model="data.IPN" ng-pattern="/(^$)|(^\d{10}$)/" />
      </div>
    </div>

    <div class="flex">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="data.IsForeigner">
          іноземець
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="data.NeedHostel">
          потребує гуртожиток
        </label>
      </div>
    </div>

    <div class="flow-controls">
      <input type="button" class="btn" l10n-value="AddPerson.prev_page"
             ng-click="prevStep()">
      <input type="button" ng-disabled class="btn btn-primary"
             l10n-value="AddPerson.next_page" ng-click="nextStep()">
    </div>
  </form>

  <form ng-if="step(3)" pk-validate>
    <div class="flex" ng-init="proposeDocumentType()">
      <div class="form-group">
        <label class="control-label">Тип документу</label>
        <select ui-select2 required name="documentType"
                ng-model="data.Document.Type">
          <option ng-repeat="document in dictionary.DocumentType"
                  ng-value="document.id" ng-bind="document.Name"></option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label" l10n-text="AddPerson.document_sn"></label>
        <input class="form-control" required pk-passport-data
               type="text" name="Document" ng-model="data.Document.id" />
      </div>
    </div>

    <div class="flex">
      <div class="flex-3 form-group">
        <label class="control-label" l10n-text="AddPerson.passport_given">
        </label>
        <input class="form-control" required type="text" name="GivenBy"
               ng-model="data.Document.GivenBy" />
      </div>
      <!--<div class="flex-1 form-group">
        <label class="control-label">Відділом</label>
        <input class="form-control" required type="text" name="GivenByDepartment"
               ng-model="data.Document.GivenByDepartment" />
      </div>
      <div class="flex-1 form-group">
        <label class="control-label">Країни</label>
        <input class="form-control" required type="text" name="GivenByCountry"
               ng-model="data.Document.GivenByCountry" />
      </div>-->
      <div class="flex-1 form-group">
        <label class="control-label">Дата видачі</label>
        <input class="form-control" required type="text" name="Date"
               pk-datepicker ng-model="data.Document.Date" mode="decade" />
      </div>
    </div>

    <div class="flow-controls">
      <input type="button" class="btn" l10n-value="AddPerson.prev_page" ng-click="prevStep()">
      <input type="button" ng-disabled class="btn btn-primary" l10n-value="AddPerson.next_page" ng-click="nextStep()">
    </div>
  </form>

  <form ng-if="step(4)">
    <h3>Попередня освіта</h3>

    <pk-edudocuments documents="data.EduDocuments"></pk-edudocuments>

    <div class="flow-controls">
      <input type="button" class="btn" l10n-value="AddPerson.prev_page" ng-click="prevStep()">
      <input type="button" ng-disabled="data.EduDocuments.length === 0" class="btn btn-primary" l10n-value="AddPerson.next_page" ng-click="nextStep()">
    </div>
  </form>

  <form ng-if="step(5)">
    <h3>Сертифікати ЗНО</h3>

    <pk-certificates certificates="data.Certificates"></pk-certificates>

    <div class="flow-controls">
      <input type="button" class="btn" l10n-value="AddPerson.prev_page" ng-click="prevStep()">
      <input type="button" class="btn btn-primary" l10n-value="AddPerson.next_page" ng-click="nextStep()">
    </div>
  </form>

  <form ng-if="step(6)">
    <h3 class="text-danger">Пільги</h3>

    <div ng-repeat="benefit in dictionary.BenefitType" class="benefit-selector"
        ng-click="toggleBenefit(benefit.id)"
        ng-class="{ 'selected': hasBenefit(benefit.id) }">
      <header ng-bind="benefit.Name"></header>
      <content ng-bind="benefit.Description"></content>
    </div>

    <div class="flow-controls">
      <input type="button" class="btn" l10n-value="AddPerson.prev_page" ng-click="prevStep()">
      <input type="button" class="btn btn-primary" l10n-value="AddPerson.next_page" ng-click="nextStep()">
    </div>
  </form>

  <form ng-if="step(7)" ng-init="initFinalTimer()">
    <h3>Перевірка</h3>

    <pk-person-view person="data"></pk-person-view>

    <div class="flow-controls">
      <input type="button" class="btn" l10n-value="AddPerson.prev_page" ng-click="prevStep()">

      <span class="final-timeout" ng-show="ticksLeft !== 0">
        {{ ticksLeft }} сек.
      </span>
      <input type="button" class="btn btn-success" ng-disabled="ticksLeft !== 0" l10n-value="AddPerson.finish" ng-click="finalAccept()">
    </div>
  </form>

</div>
