<div id="add-request-page" class="form-group">
  <div class="row title">
    <h3 class="col-sm-10">
      Додавання заяви
    </h3>
    <div class="col-sm-2 clear-btn">
      <input tabindex="-1" type="button" class="btn btn-danger"
             l10n-value="AddPerson.clear" ng-click="resetData()" />
    </div>
  </div>

  <h4>
    Вступник:
    <a href="/person/{{ person.id }}" class="strong">
      {{ person.Surname }}
      {{ person.Name }}
      {{ person.Patronymic }}
    </a>
  </h4>
  <h4>
    Дата нарождення: {{ person.BirthDate | date: 'dd.MM.yyyy' }}
  </h4>
  <h4>
    {{ dictionary.getDocumentTypeName(person.Document.Type) }}:
    {{ person.Document.id.Series }} {{ person.Document.id.Number }}
  </h4>

  <form pk-validate>

    <div class="flex">

      <div class="form-group">
        <label class="control-label">Потік</label>
        <select ui-select2 required name="Stream" ng-model="data.Stream">
          <option ng-repeat="stream in dictionary.Stream"
                  ng-value="stream.id" ng-bind="stream.Name"></option>
        </select>
      </div>


      <div class="form-group" ng-show="data.Stream != 3">
        <label class="control-label">Тип вступу</label>
        <select ui-select2 required name="Type" ng-model="data.Type"
                pk-request-type>
          <option ng-repeat="type in dictionary.RequestType"
                  ng-disabled="!dictionary.checkRequestType(type, data.Stream)"
                  ng-value="type.id" ng-bind="type.Name"></option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label">Форма навчання</label>
        <select ui-select2 required name="TeachingForm" ng-model="data.TeachingForm">
          <option ng-repeat="stream in dictionary.TeachingForm"
                  ng-value="stream.id" ng-bind="stream.Name"></option>
        </select>
      </div>

      <div class="form-group" ng-show="data.Stream == 1 && data.TeachingForm == 1">
        <label class="control-label">Пріорітет</label>
        <select ui-select2 ng-required="data.Stream == 1 && data.TeachingForm == 1" name="Priority" ng-model="data.Priority">
          <option ng-repeat="priority in dictionary.Priority"
                  ng-value="priority.id" ng-bind="priority.Name"></option>
        </select>
      </div>

    </div>

    <div class="flex">
      <div class="flex-1 form-group">
        <label class="control-label">Спеціальність</label>
        <select ui-select2 required name="Speciality" ng-model="data.Speciality">
          <option ng-repeat="speciality in dictionary.Speciality"
                  ng-disabled="!dictionary.checkSpeciality(speciality, data.Stream)"
                  ng-value="speciality.id">
            [{{ speciality.Hash }}] {{ speciality.Name }}
            ({{ dictionary.streamShort(speciality)}})
          </option>
        </select>
      </div>
    </div>

    <div class="flex">
      <div class="flex-1 form-group" ng-hide="data.Type == 1 || data.Stream == 3">
        <label class="control-label">Причина екзаменації</label>
        <select ui-select2 name="ExaminationCause" pk-examination-cause
                ng-model="data.ExaminationCause">
          <option ng-repeat="cause in dictionary.ExaminationCause"
                  ng-value="cause.id" ng-bind="cause.Name">
          </option>
        </select>
      </div>
    </div>

    <div class="flex">
      <div class="flex-1 form-group">
        <label class="control-label">Документ на якому основана заява</label>
        <select ui-select2 required name="EduDocument"
                ng-model="data.EduDocument">
          <option ng-repeat="document in person.EduDocuments"
                  ng-value="document.id_">
            [ {{ document.id.Series }} {{ document.id.Number }} ]
            {{ dictionary.getEduDocumentTypeName(document.Type) }}
          </option>
        </select>
      </div>
    </div>

    <div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="data.Courses">
          Закінчив підготовчі курси ЗДІА
        </label>
      </div>
    <div>
    </div>
      <div class="checkbox text-primary">
        <label class="strong">
          <input type="checkbox" ng-model="data.Original">
          Оригінали документів
        </label>
      </div>
    </div>

    <div ng-show="data.Stream == 4">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="data.MagisterDegree">
          Претендує на "Магістра"
        </label>
      </div>
    </div>
    <div ng-show="data.Stream == 4">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="data.SpecialistDegree">
          Претендує на "Спеціаліста"
        </label>
      </div>
    </div>

    <div class="flex" ng-if="data.Stream != 3">
      <div class="flex-1" ng-if="data.Type == 1"
           pk-zno-selector info="data" person="person">
      </div>

      <div class="flex-1" ng-if="data.Type == 2"
           pk-exam-selector info="data">
      </div>
    </div>

    <div class="flow-controls">
      <input type="button" ng-disabled class="btn btn-primary btn-lg"
             value="Створити заяву" ng-click="create()">
    </div>

    <h3 class="text-align-center text-success" ng-show="lastRequestId">
      заяву "{{ lastRequestId }}" додано
    </h3>

  </form>

</div>
