<div id="bulk-add-person-page">
  <div class="title">
    <h3>
      Пакетне додавання осіб, що вчилися у ЗДІА
    </h3>
  </div>

  <div class="flex">

    <div class="fixed-50 parse-panel">
      <h4>
        Персони

        <button class="btn btn-xs btn-primary" ng-click="parse()">
          розібрати
        </button>
      </h4>

      <textarea ng-model="textData"></textarea>
    </div>

    <div class="fixed-50 parse-panel">
      <h4>
        Розбір

        <button class="btn btn-xs btn-primary" ng-click="exchange()">
          <span class="glyphicon glyphicon-backward"></span>
          корегувати
        </button>

        <button class="btn btn-xs btn-success" ng-click="import()">
          імпорт
        </button>
      </h4>

      <div ng-repeat="person in persons" class="person-item"
           ng-class="person.status">
        <span ng-if="!person.error">
          <b ng-bind="person.Surname"></b>
          {{ person.Name }}
          {{ person.Patronymic }}
        </span>

        <span ng-if="person.status === 'error'">
          <b>ERROR</b>
        </span>
      </div>
    </div>

  </div>
</div>
