<div id="data-examination-page">

  <div class="flex">
    <div class="side form-group">
      <h3>
        <a ng-href="/api/data/examination.json" download target="blank">Експорт екзаменів</a>
      </h3>
    </div>

    <div class="side form-group">
      <label class="control-label">Імпорт екзаменів</label>
      <input class="form-control" type="file" pk-file="upload($data)" />
    </div>
  </div>

</div>
