<div id="data-originals-page">
  <h2>Заяви з оригіналами</h2>

  <div class="request" ng-repeat="request in requests"
       ng-class="{ error: request.error }">
    <a class="request-id" pk-request-id="request"
       ng-href="/request/{{ request.id }}">
    </a>

    <span class="request-stream">
      <span class="label label-primary">
        {{ dict.getStreamName(request.Stream) }}
      </span>
    </span>

    <a class="useless" ng-href="/person/{{ request.Person.id }}">
      <b ng-bind="request.Person.Surname"></b>
      {{ request.Person.Name }} {{ request.Person.Patronymic }}
    </a>
  </div>

</div>
