<div id="data-courses-page">

  <div class="flex request" ng-repeat="request in requests">
    <a class="request-id" pk-request-id="request"
       ng-href="/request/{{ request.id }}">
    </a>

    <div class="flex-1">
      <a ng-href="/person/{{ request.Person.id }}"
         ng-class="{ 'text-success': request.Synchronized, 'text-danger': !request.Synchronized }">
        <b ng-bind="request.Person.Surname"></b>
        {{ request.Person.Name }} {{ request.Person.Patronymic }}
      </a>
      <span class="badge" ng-if="request.CoursesMark !== null"
            ng-bind="request.CoursesMark">
      </span>
    </div>

    <div class="courses-mark input-group">
      <input type="text" class="form-control" ng-model="request.CoursesMark">

      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="save(request)">
          зберегти
        </button>
      </span>
    </div>
  </div>

</div>
