<div id="data-diploms-page">
  <div class="title">
    <h3>
      Пакетне довнесення дипломів
    </h3>
  </div>

  <div class="flex">

    <div class="fixed-50 parse-panel">
      <h4>
        Дані (П, І, Б, Серія, Номер, Оцінка)

        <button class="btn btn-xs btn-primary" ng-click="parse()">
          розібрати
        </button>
      </h4>

      <textarea ng-model="textData"></textarea>
    </div>

    <div class="fixed-50 parse-panel">
      <h4>
        Розбір

        <button class="btn btn-xs btn-primary" ng-click="exchange()">
          <span class="glyphicon glyphicon-backward"></span>
          корегувати
        </button>

        <button class="btn btn-xs btn-success" ng-click="import()">
          імпорт
        </button>
      </h4>

      <div ng-repeat="item in items" class="person-item"
           ng-class="item.status">
        <div ng-if="!item.error">
          <div class="main">
            <b>{{ item.Surname }}</b>
            {{ item.Name }}
            {{ item.Patronymic }}
          </div>
          <div class="details">
            {{ item.Series }}
            {{ item.Number }}

            <b>{{ item.Mark }} / 5</b>
          </div>
        </div>

        <div ng-if="item.status === 'error'">
          <b>ERROR</b>
        </div>
      </div>
    </div>

  </div>
</div>
