<div id="data-user-page">

  <div class="flex">
    <div class="form-group flex-1">
      <label l10n-text="User.newName"></label>
      <input class="form-control" type="text" ng-model="newUser.Name" l10n-placeholder="User.newName" />
    </div>
    <div class="form-group flex-1">
      <label l10n-text="User.newLogin"></label>
      <input class="form-control" type="text" ng-model="newUser.Login" l10n-placeholder="User.newLogin" />
    </div>
    <div class="form-group flex-1">
      <label l10n-text="User.newPassword"></label>
      <input class="form-control" type="password" ng-model="newUser.Password" l10n-placeholder="User.newPassword" />
    </div>
    <div class="form-group flex-1">
      <label l10n-text="User.newLevel"></label>
      <input class="form-control" min="0" max="5" type="number" ng-model="newUser.Level" l10n-placeholder="User.newLevel" />
    </div>
    <div class="form-group flex-1 wrapper-btn">
      <button class="btn btn-default" ng-click="addUser()">
        <span class="glyphicon glyphicon-plus"></span>
        <span l10n-text="User.add"></span>
      </button>
    </div>
  </div>

  <div ng-repeat="user in users" pk-hideable>
    <header class="flex flex-baseline">
      <span class="useless user-id">#{{ user.id }}</span>
      <h3 class="flex-1">
        {{ user.Login }}
      </h3>
      <div class="flex-1">
        <span l10n-text="User.level"></span>:
        <span class="label label-info">
          {{ user.Level }}
        </span>
      </div>
    </header>
    <content>
      <div class="input-group">
        <input class="form-control" type="password" ng-model="user.NewPassword"
               l10n-placeholder="User.newPassword" />
        <span class="input-group-btn">
          <button class="btn btn-default" ng-click="editPassword(user)">
            <span class="glyphicon glyphicon-pencil"></span>
            <span l10n-text="User.edit"></span>
          </button>
        </span>
      </div>
    </content>
  </div>
</div>