<ul class="subcategory-list">
  <li>
    <a href="/person/bulk">Пакетне додавання вступників</a>
  </li>
  <li>
    <a href="/data/examination">Імпорт / експорт екзаменів</a>
  </li>
  <li>
    <a href="/data/diploms">Довнесення дипломів</a>
  </li>
  <li>
    <a href="/data/user">Користувачі</a>
  </li>
  <li>
    <a href="/data/courses">Підготовчі курси</a>
  </li>
  <li>
    <a href="/data/originals">Заяви з оригіналами документів</a>
  </li>
</ul>
