<div id="edbo-sync-page">
  <div class="flex flex-vend">
    <div class="form-group no-grow no-shrink">
      <label>Потік</label>
      <select ui-select2 ng-model="params.Stream" ng-change="update()">
        <option value="">всі</option>
        <option ng-repeat="stream in dict.Stream"
                ng-value="stream.id" ng-bind="stream.Name"></option>
      </select>
    </div>
    <div class="form-group no-grow no-shrink">
      <label>Форма навчання</label>
      <select ui-select2 ng-model="params.TeachingForm" ng-change="update()">
        <option value="">всі</option>
        <option ng-repeat="stream in dict.TeachingForm"
                ng-value="stream.id" ng-bind="stream.Name"></option>
      </select>
    </div>
    <div class="flex-1 form-group">
      <label>Спеціальність</label>
      <select ui-select2 ng-model="params.Speciality" ng-change="update()">
        <option value="">всі</option>
        <option ng-repeat="speciality in dict.Speciality"
                ng-disabled="!dict.checkSpeciality(speciality, params.Stream)"
                ng-value="speciality.id">
          [{{ speciality.Hash }}] {{ speciality.Name }}
          ({{ dict.streamShort(speciality)}})
        </option>
      </select>
    </div>
    <div class="check-all-btn no-shrink">
      <button class="btn btn-success" ng-click="checkAll()">
        Перевірити всі заяви
      </button>
    </div>
  </div>

  <div class="queue">
    оброблюється запитів: <b ng-bind="queue"></b>
  </div>

  <div class="request-wrapper">
    <div class="item" ng-repeat="request in requests"
         ng-class="{ 'different': request.isDifferent,
                     'missing':   request.isMissing }">
      <a class="header" href="/request/{{ request.id }}"
         pk-request-id="request">
      </a>
      <span class="person" ng-class="{ sync: request.Person.Synchronized }">
        {{ request.Person.Surname }}
        {{ request.Person.Name }}
        {{ request.Person.Patronymic }}
      </span>

      <button tabindex="-1" class="btn btn-xs btn-primary"
              ng-click="check(request)">
        перевірити
      </button>

      <button class="btn btn-xs btn-warning" ng-show="request.isMissing"
              ng-click="create(request)">
        додати заяву
      </button>

      <button class="btn btn-xs" ng-click="ignore(request)"
              ng-show="request.SubRequests[0].isDifferent || request.SubRequests[1].isDifferent">
        інгорувати (використовувати з обережністю!)
      </button>

      <div ng-if="request.Stream == 1">

        <div class="diff-viewer" ng-if="request.isDifferent">
          <ul>
            <li ng-repeat="item in request.diff" ng-class="item.type"
                pk-edbo-request-item>
            </li>
          </ul>
        </div>

        <div class="diff-viewer" ng-if="request.diff.length === 0">
          <p class="text-success">дані синхронні!</p>
        </div>

      </div>

      <div ng-repeat="subrequest in request.SubRequests" class="sub-request"
           ng-show="subrequest.isUnknown || subrequest.diff !== undefined || subrequest.isMissing">
        <span class="useless subrequest-number">
          #{{ subrequest.id }}
        </span>

        <b class="sub-request-type"
           ng-bind="dict.getSubRequestTypeName(subrequest.Type)"></b>

        <span class="text-success" ng-if="subrequest.diff.length === 0">
          - дані синхронні!
        </span>
        <button class="btn btn-xs btn-warning" ng-if="subrequest.isMissing"
                ng-click="subcreate(request, subrequest)">
          додати заяву
        </button>


        <div class="diff-viewer" ng-if="subrequest.isDifferent">
          <ul>
            <li ng-repeat="item in subrequest.diff" ng-class="item.type"
                pk-edbo-request-item>
            </li>
          </ul>
        </div>
      </div>

    </div>
  <div>
</div>
