<div id="edbo-ez-page">
  <button class="btn btn-primary btn-lg" ng-click="exchange()">
    Розпочати завантаження
  </button>

  <div class="count">
    {{ count }}
  </div>
  <div class="details">заяв завантажено</div>

  <h1 class="text-danger" ng-show="error">
    Помилка!
  </h1>

  <h1 class="text-success" ng-show="exhaused">
    Усі заяви завантажено!
  </h1>
</div>
