<div id="edbo-sync-page">
  <div class="row title">
    <h3 class="col-sm-10">
      Перевірка у ЄДЕБО
    </h3>
    <div class="col-sm-2 clear-btn">
      <button tabindex="-1" class="btn btn-success" ng-click="checkAll()">
        Перевірити всіх
      </button>
    </div>
  </div>

  <div class="person-wrapper">
    <div class="item" ng-repeat="person in persons"
         ng-class="{
            'missing':   person.isMissing,
            'different': person.isDifferent }">
      <a class="person-name" href="/person/{{ person.id }}">
        {{ person.Surname }}
        {{ person.Name }}
        {{ person.Patronymic }}
      </a>
      <button tabindex="-1" class="btn btn-xs btn-primary"
              ng-click="check(person)">
        Перевірити
      </button>

      <button class="btn btn-xs btn-danger" ng-show="person.isMissing"
              ng-click="create(person)">
        додати
      </button>

      <button class="btn btn-xs" ng-click="ignore(person)"
              ng-show="person.isDifferent && person.diff.length > 0">
        інгорувати (використовувати з обережністю!)
      </button>

      <div class="diff-viewer" ng-show="person.isDifferent">
        <ul>
          <li ng-repeat="item in person.diff" ng-class="item.type">
            <strong class="title" ng-bind="item.key"></strong>

            <span ng-show="item.type === 'add'">
              (відсутній в ЄДБО)
            </span>
            <span ng-show="item.type === 'remove'">
              (відсутній у нас)
            </span>


            <div ng-show="item.type === 'edit'" class="diff-item">
              <div>
                <span>наше значення:</span>
                <code ng-bind="item.current" class="strong"></code>
              </div>
              <div>
                <span>значення в ЄДБО:</span>
                <code ng-bind="item.ref" class="strong"></code>
              </div>
            </div>

            <button tabindex="-1" class="btn btn-xs btn-warning"
                    ng-show="item.type !== 'edit'" ng-click="fix(person, item)">
              <span ng-show="item.type === 'add'">
                додати в ЄДБО
              </span>
              <span ng-show="item.type === 'remove'">
                додати до нас
              </span>
            </button>

            <div class="change-mark"
                 ng-show="item.type === 'remove' && item.key === 'EduDocuments'">
              <div class="input-group input-group-sm">
                <span class="input-group-btn">
                  <button tabindex="-1" class="btn btn-warning"
                          ng-click="changeMark(person, item)">
                    виправити бал
                  </button>
                </span>
                <input type="text" class="form-control" ng-model="item.current.Mark">
              </div>
            </div>

            <pre ng-show="item.type !== 'edit' && item.current"
                 ng-bind="item.current | json">
            </pre>
          </li>
        </ul>
      </div>
      <div class="diff-viewer" ng-show="person.diff.length === 0">
        <p class="text-success">дані синхронні!</p>
      </div>
      <div class="queue">
        оброблюється запитів: <b ng-bind="queue"></b>
      </div>
    </div>
  <div>
</div>
