<div id="find-person-page">

<div class="flex">
  <div class="form-group flex-1">
    <label>
      <span>Пошук по даним</span> ПІБ<span>,</span>
        атестату <span>або</span> паспорту
    </label>

    <input class="form-control" ng-model="pagination.filter" ng-change="update()" autofocus>
  </div>
</div>

<div infinite-scroll="loadMorePersons()" infinite-scroll-distance="1"
     infinite-scroll-disabled="paginationDone">
  <div pk-hideable ng-repeat="person in persons">

    <header class="flex flex-baseline">
      <span class="useless person-id">#{{ person.id }}</span>

      <h3 class="flex-1">
        {{ person.Surname }}
        <span class="useless">{{ person.Name }} {{ person.Patronymic }}</span>
        <span class="label label-warning benefits" ng-show="person.BenefitsCount">
          пільги
        </span>
      </h3>

      <div class="flex-1">
        дата народження:
        <span class="label label-info">
          {{ person.BirthDate | date: 'dd.MM.yyyy' }}
        </span>
      </div>

      <div class="pull-right">
        <a href="/person/{{ person.id }}" class="user" ng-click="$event.stopPropagation()">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </div>
    </header>

    <content class="clearfix flex">

      <content class="flex-1">
        <h3>Заяви:</h3>

        <ol>
          <li ng-repeat="request in person.Requests">
            <a href="/request/{{ request.id }}" pk-request-id="request"
               ng-class="{'text-primary bold': request.EZ, 'text-success bold': request.Original, 'text-danger bold': [2, 3, 6].indexOf(request.Status) != -1 }"></a>
          </li>

          <li class="no-list" ng-if="person.Requests.length === 0">
            немає заяв
          </li>

          <li class="no-list">
            <a href="/request/add/{{ person.id }}">додати...</a>
          </li>
        </ol>
      </content>

      <content class="flex-2">
        <h3>Документи:</h3>

        <ul>
          <li ng-repeat="document in person.EduDocuments">
            {{ dictionary.getEduDocumentTypeName(document.Type) }}
            <b>{{ document.Series }} {{ document.Number }}</b>
          </li>
        </ul>
      </content>

      <content class="flex-1 person-details">
        <a href="/person/{{ person.id }}">
          Переглянути детальну картку особи
        </a>
      </content>

    </content>

  </div>
</div>

</div>
