<div id="find-request-page">

<div class="flex">
  <div class="form-group">
    <label>Потік</label>
    <select ui-select2 ng-model="pagination.Stream" data-placeholder="всі"
            ng-change="update()">
      <option value="">всі</option>
      <option ng-repeat="stream in dict.Stream"
              ng-value="stream.id" ng-bind="stream.Name"></option>
    </select>
  </div>
  <div class="form-group">
    <label>Форма навчання</label>
    <select ui-select2 ng-model="pagination.TeachingForm" data-placeholder="всі"
            ng-change="update()">
      <option value="">всі</option>
      <option ng-repeat="stream in dict.TeachingForm"
              ng-value="stream.id" ng-bind="stream.Name"></option>
    </select>
  </div>
  <div class="flex-1 form-group">
    <label>Спеціальність</label>
    <select ui-select2 ng-model="pagination.Speciality" data-placeholder="всі"
            ng-change="update()">
      <option value="">всі</option>
      <option ng-repeat="speciality in dict.Speciality"
              ng-disabled="!dict.checkSpeciality(speciality, pagination.Stream)"
              ng-value="speciality.id">
        [{{ speciality.Hash }}] {{ speciality.Name }}
        ({{ dict.streamShort(speciality)}})
      </option>
    </select>
  </div>
  <div class="count" data-placement="left" data-title="Кількість заяв" bs-tooltip>
    <h1><span class="label label-primary">{{ count }}</span></h1>
  </div>
</div>

<div infinite-scroll="loadMoreRequests()" infinite-scroll-distance="1"
     infinite-scroll-disabled="paginationDone">
  <div pk-hideable ng-repeat="request in requests">
    <header ng-click="loadDetails(request)">
      <span class="request-id useless">
        #{{ request.id }}
      </span>
      <h3 pk-request-id="request" class="request-number"></h3>

      <span class="request-stream">
        <span class="label label-primary">
          {{ dict.getStreamName(request.Stream) }}
        </span>
      </span>

      <b ng-bind="request.Person.Surname"></b>
      {{ request.Person.Name }}
      {{ request.Person.Patronymic }}

      <span class="pull-right" ng-show="auth.Level == 0">
        <span class="glyphicon glyphicon-trash trash" ng-click="showRemoveRequestModal(request); $event.stopPropagation()"></span>
      </span>

      <span class="pull-right">
        <a href="/request/{{ request.id }}" class="glyphicon glyphicon-file details" ng-click="$event.stopPropagation()"></a>
      </span>

      <span class="pull-right">
        <a href="/person/{{ request.Person.id }}" class="glyphicon glyphicon-user details" ng-click="$event.stopPropagation()"></a>
      </span>

      <span class="label label-primary originals" ng-show="request.EZ">
        електр. вступ
      </span>
      <span class="label label-warning originals" ng-show="request.BenefitsCount">
        пільги
      </span>
      <span class="label label-success originals" ng-show="request.Original">
        оригінали
      </span>
    </header>

    <content>
      <pk-request-details request="request" lazy="true"></pk-request-details>
    </content>
  </div>
</div>

</div>
