<div class="flex pk-input-group">
  <div class="form-group">
    <label>Потік</label>
    <select ui-select2 ng-model="query.Stream" data-placeholder="всі"
            ng-change="update()">
      <option ng-repeat="stream in dict.Stream"
              ng-value="stream.id" ng-bind="stream.Name"></option>
    </select>
  </div>
  <div class="form-group">
    <label>Форма навчання</label>
    <select ui-select2 ng-model="query.TeachingForm" data-placeholder="всі"
            ng-change="update()">
      <option ng-repeat="stream in dict.TeachingForm"
              ng-value="stream.id" ng-bind="stream.Name"></option>
    </select>
  </div>
  <div class="flex-1 form-group">
    <label>Спеціальність</label>
    <select ui-select2 ng-model="query.Speciality" data-placeholder="всі"
            ng-change="update()">
      <option ng-repeat="speciality in dict.Speciality"
              ng-disabled="!dict.checkSpeciality(speciality, query.Stream)"
              ng-value="speciality.id">
        [{{ speciality.Hash }}] {{ speciality.Name }}
        ({{ dict.streamShort(speciality)}})
      </option>
    </select>
  </div>
</div>
<div class="flex pk-input-group">
  <div class="form-group">
    <label>Дата фахового іспиту</label>
    <input class="form-control" type="text" pk-datepicker
           ng-model="exams.date.primary" mode="month">
  </div>
  <div class="form-group">
    <label>Час початку фахового іспиту</label>
    <input class="form-control" type="text" ng-model="exams.time.primary">
  </div>
</div>
<div class="flex pk-input-group">
  <div class="form-group">
    <label>Дата іспиту з іноземної мови</label>
    <input class="form-control" type="text" pk-datepicker
           ng-model="exams.date.foreign" mode="month">
  </div>
  <div class="form-group">
    <label>Час початку іспиту з іноземної мови</label>
    <input class="form-control" type="text" ng-model="exams.time.foreign">
  </div>
</div>

<div id="ExaminationTicket">
  <div class="printable a4 vertical no-float" ng-repeat-start="pair in pairs">
    <div pk-examination-ticket-front
         class="a5 horizontal no-float small-padding"
         request="pair.lhs" exams="exams">
    </div>

    <div pk-examination-ticket-front ng-if="pair.rhs"
         class="a5 horizontal no-float small-padding"
         request="pair.rhs" exams="exams">
    </div>
  </div>

  <div class="printable a4 vertical no-float" ng-repeat-end>
    <div pk-examination-ticket-back
         class="a5 horizontal no-float small-padding"
         request="pair.lhs" exams="exams">
    </div>

    <div pk-examination-ticket-back ng-if="pair.rhs"
         class="a5 horizontal no-float small-padding"
         request="pair.rhs" exams="exams">
    </div>
  </div>
</div>
