<ul class="subcategory-list">
  <li>
    <a href="/generate/receipt">Розписки</a>
  </li>
  <li>
    <a href="/generate/report">Звіт</a>
  </li>
  <li>
    <a href="/generate/examination/tickets">Екзаменаційні листи</a>
  </li>
  <li>
    <a href="/generate/journal/title">Титульні сторінкі міністерського журналу</a>
  </li>
  <li>
    <a href="/generate/journal">Міністерський журнал</a>
  </li>
  <li>
    <a href="/generate/rates">Рейтинги</a>
  </li>
</ul>
