<div id="generate-journal-page">

<div class="flex pk-input-group">
  <div class="form-group">
    <label>Потік</label>
    <select ui-select2 ng-model="query.Stream" data-placeholder="всі"
            ng-change="update()">
      <option ng-repeat="stream in dict.Stream"
              ng-value="stream.id" ng-bind="stream.Name"></option>
    </select>
  </div>
  <div class="form-group">
    <label>Форма навчання</label>
    <select ui-select2 ng-model="query.TeachingForm" data-placeholder="всі"
            ng-change="update()">
      <option ng-repeat="stream in dict.TeachingForm"
              ng-value="stream.id" ng-bind="stream.Name"></option>
    </select>
  </div>
  <div class="flex-1 form-group">
    <label>Спеціальність</label>
    <select ui-select2 ng-model="query.Speciality" data-placeholder="всі"
            ng-change="update()">
      <option ng-repeat="speciality in dict.Speciality"
              ng-disabled="!dict.checkSpeciality(speciality, query.Stream)"
              ng-value="speciality.id">
        [{{ speciality.Hash }}] {{ speciality.Name }}
        ({{ dict.streamShort(speciality)}})
      </option>
    </select>
  </div>
</div>
<div class="flex pk-input-group">
  <div class="form-group">
    <label>Початкова дата</label>
    <input class="form-control" required type="text" pk-datepicker
           ng-model="query.Date" mode="month" ng-change="update()">
  </div>
</div>

<div class="printable a4 horizontal no-float padding"
     ng-repeat="page in pages track by $index">
  <div class="flex-table">
    <row>
      <cell class="index theader">
        <span>№ з/п</span>
      </cell>
      <cell class="request-number theader vertical">
        <span>Номер особової справи</span>
      </cell>
      <cell class="date theader vertical">
        <span>Дата прийому документів</span>
      </cell>
      <cell class="fio theader">
        Прізвище, ім’я, по батькові
      </cell>
      <cell class="address theader">
        Адреса місця проживання
      </cell>
      <cell class="sex theader">
        Стать (чол./жін.)
        Дата народження
      </cell>
      <cell class="institute theader">
        Найменування навчального закладу, що видав документ про здобутий освітній (освітньо-кваліфікаційний) рівень
      </cell>
      <cell class="edu-document theader">
        Номер, серія, дата видачі документа про здобутий освітній (освітньо-кваліфікаційний рівень)
      </cell>
      <cell class="certificate theader">
        Номер сертифіката (сертифікатів) зовнішнього незалежного оцінювання та дата видачі
      </cell>
      <cell class="benefits theader">
        Інформація про документи, що дають право на особливі умови зарахування
      </cell>
      <cell class="rejection theader">
        Причини з яких вступникові відмовлено в участі у конкурсі та зарахуванні на навчання
      </cell>
      <cell class="sign theader">
        Підпис абітурієнта в одержанні повернених документів або відмітка про їх повернення (номер поштової квитанції)
      </cell>
    </row>

    <row ng-repeat="req in page">
      <cell class="index center">
        {{ req.id }}
      </cell>
      <cell class="request-number center">
        {{ req.Number }}
      </cell>
      <cell class="date center">
        {{ req.Date | date: 'dd.MM.yyyy' }}
      </cell>
      <cell class="fio">
        <div ng-bind="req.Person.Surname"></div>
        <div ng-bind="req.Person.Name"></div>
        <div ng-bind="req.Person.Patronymic"></div>
      </cell>
      <cell class="address">
        <span ng-if="req.Person.LivingPlace">
          {{ req.Person.LivingPlace }},
        </span>
        {{ dict.getStreetType(req.Person.StreetType) }}
        {{ req.Person.LivingStreet }}
      </cell>
      <cell class="sex">
        <div ng-bind="dict.getSexShortName(req.Person.Sex)"></div>
        <div ng-bind="req.Person.BirthDate | date: 'dd.MM.yyyy'"></div>
      </cell>
      <cell class="institute">
        {{ req.EduDocument.GivenBy }}
      </cell>
      <cell class="edu-document">
        <div>
          {{ req.EduDocument.Series }} {{ req.EduDocument.Number }}
        </div>
        <div>
          {{ req.EduDocument.Date | date: 'dd.MM.yyyy' }}
        </div>
        <div>
          сер. бал: {{ req.EduDocument.Mark }}
        </div>
      </cell>
      <cell class="certificate">
        <span ng-if="req.Stream == 1">
          <div>
            {{ dict.getCertificateSubjectName(req.CertificateMark1.Subject) }}: {{ req.CertificateMark1.Mark }} ({{ req.CertificateMark1.Certificate.Number }})
          </div>
          <div>
            {{ dict.getCertificateSubjectName(req.CertificateMark2.Subject) }}: {{ req.CertificateMark2.Mark }} ({{ req.CertificateMark2.Certificate.Number }})
          </div>
          <div>
            {{ dict.getCertificateSubjectName(req.CertificateMark3.Subject) }}: {{ req.CertificateMark3.Mark }} ({{ req.CertificateMark3.Certificate.Number }})
          </div>
        </span>
      </cell>
      <cell class="benefits"></cell>
      <cell class="rejection"></cell>
      <cell class="sign"></cell>
    </row>
  </div>
</div>

</div>
