<div id="generate-journal-title-page">

<div ng-repeat="form in dict.TeachingForm">
  <div class="printable a4 horizontal padding no-float"
       ng-repeat="speciality in dict.Speciality">
    <div class="right font-12">
      ЗАТВЕРДЖЕНО<br />
      Наказ Міністерства освіти і науки,<br />
      України<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {{ getYear() }} року №&nbsp;&nbsp;&nbsp;
    </div>

    <div class="clear"></div>
    <br />

    <div class="right bold font-12">Форма № Н-1.02</div>

    <div class="clear"></div>
    <br />

    <div class="font-12">
      <span class="field field-institute">
        Запорізька державна інженерна академія
      </span>
    </div>

    <div class="clear"></div>
    <br />

    <div class="font-12 center">
      Форма навчання
    </div>

    <div class="clear"></div>
    <br />

    <div class="font-12">
      <span class="field field-form">{{ form.Name }}</span>
    </div>

    <div class="clear"></div>
    <br />

    <div class="bold font-28 caps center">
      ЖУРНАЛ
    </div>

    <div class="clear"></div>

    <div class="bold font-14 center">
      реєстрації осіб, які вступають до вищого навчального закладу у
      {{ getYear() }}р.
    </div>

    <div class="clear"></div>
    <br />

    <br />
    <br />
    <br />

    <div class="font-12">
      Інститут, факультет, відділення
      <span class="field field-faculty">
        ЗДІА, {{ speciality.Faculty.Name }}
      </span>

      <div class="clear"></div>
      <br />

      Напрям підготовки
      <span class="field field-direction">
        <span ng-show="speciality.Stream !== 4">
          {{ speciality.Code }},
          {{ speciality.Name }}
        </span>
      </span>

      <div class="clear"></div>
      <br />

      Спеціальність
      <span class="field field-specialty">
        <span ng-show="speciality.Stream === 4">
          {{ speciality.Code }},
          {{ speciality.Name }}
        </span>
      </span>

      <div class="clear"></div>
      <br />

      Освітньо-кваліфікаційний рівень
      <span class="field field-qualification">
        {{ dict.getStreamName(speciality.Stream) }}
      </span>
    </div>
  </div>
</div>

</div>
