<div id="generate-rates-page">

<div class="flex pull-right margin-right" ng-if="url">
  <a href="{{ url }}" target="_blank">Переглянути на всю сторінку</a>
</div>

<div class="flex pk-input-group">
  <div class="form-group">
    <label>Потік</label>
    <select ui-select2 ng-model="params.Stream">
      <option ng-repeat="stream in dict.Stream"
              ng-value="stream.id" ng-bind="stream.Name"></option>
    </select>
  </div>
  <div class="form-group">
    <label>Форма навчання</label>
    <select ui-select2 ng-model="params.TeachingForm">
      <option ng-repeat="stream in dict.TeachingForm"
              ng-value="stream.id" ng-bind="stream.Name"></option>
    </select>
  </div>
</div>
<div class="flex pk-input-group">
  <div class="flex-1 form-group">
    <label>Спеціальність</label>
    <select ui-select2 ng-model="params.Speciality">
      <option ng-repeat="speciality in dict.Speciality"
              ng-disabled="!dict.checkSpeciality(speciality, params.Stream)"
              ng-value="speciality.id">
        [{{ speciality.Hash }}] {{ speciality.Name }}
        ({{ dict.streamShort(speciality)}})
      </option>
    </select>
  </div>
</div>

<iframe src="{{ url }}">
</iframe>

</div>
