<div class="flex pk-input-group">
  <div class="form-group">
    <label>Потік</label>
    <select ui-select2 ng-model="query.Stream" data-placeholder="всі"
            ng-change="update()">
      <option ng-repeat="stream in dict.Stream"
              ng-value="stream.id" ng-bind="stream.Name"></option>
    </select>
  </div>
  <div class="form-group">
    <label>Форма навчання</label>
    <select ui-select2 ng-model="query.TeachingForm" data-placeholder="всі"
            ng-change="update()">
      <option ng-repeat="stream in dict.TeachingForm"
              ng-value="stream.id" ng-bind="stream.Name"></option>
    </select>
  </div>
  <div class="flex-1 form-group">
    <label>Спеціальність</label>
    <select ui-select2 ng-model="query.Speciality" data-placeholder="всі"
            ng-change="update()">
      <option ng-repeat="speciality in dict.Speciality"
              ng-disabled="!dict.checkSpeciality(speciality, query.Stream)"
              ng-value="speciality.id">
        [{{ speciality.Hash }}] {{ speciality.Name }}
        ({{ dict.streamShort(speciality)}})
      </option>
    </select>
  </div>
</div>

<div ng-repeat="request in requests" class="generate-reciept">
  <div class="printable a4 no-float horizontal">
    <div class="a5 vertical padding">
      <div class="right font-14">
        ЗАТВЕРДЖЕНО<br />
        Наказ Міністерства <br />
        освіти і науки України<br />
        від _______ 2014 року № _______
      </div>
      <div class="clear"></div>
      <br />
      <div class="right bold font-14">Форма № Н-1.03.01</div>
      <div class="clear"></div>
      <br />
      <div class="font-11">
        <span class="bold caps">Опис особової справи №</span>
        <span class="field field-description-personal-file">
          {{ request.Number }}
        </span>
      </div>
      <div class="clear"></div>
      <br />

      <div class="font-11">
        <div>
          Прізвище
          <span class="field field-surname">{{ request.Person.Surname }}</span>
          Ім’я
          <span class="field field-name">{{ request.Person.Name }}</span>
        </div>
        <div>
          По батькові
          <span class="field field-patronymic">{{ request.Person.Patronymic }}</span>
        </div>
        <div>
          Інститут/факультет/відділення
          <span class="field field-faculty">
            {{ request.Speciality.Faculty.Name }}
            /
            <span ng-show="request.TeachingForm == 1">
              денна
            </span>
            <span ng-show="request.TeachingForm == 2">
              заочна
            </span>
          </span>
        </div>
        <div>
          Освітньо-кваліфікаційний рівень
          <span class="field field-educational-qualification">
            Спеціаліст, магістр
          </span>
        </div>
        <div>
          Напрям підготовки/спеціальність
          <span class="field field-specialty">
            {{ request.Speciality.Code }} {{ request.Speciality.Name }}
          </span>
        </div>
        <div>
          <div>
            Пред’явлений документ, що засвідчує особу:
            <span class="field field-doc">
              {{ dict.getDocumentTypeName(request.Person.Document.Type) }}
            </span>
            серія
            <span class="field field-doc-serial">
              {{ request.Person.Document.Series }}
            </span>,
            №
            <span class="field field-doc-number">
              {{ request.Person.Document.Number }}
            </span>,
          </div>
          <br>
          <div>
            <span class="field field-doc-issued">
              {{ request.Person.Document.GivenBy }}
            </span>
            «<span class="field field-doc-date-dd">
              {{ request.Person.Document.Date | date: 'dd' }}
            </span>»
            <span class="field field-doc-date-mm">
              {{ request.Person.Document.Date | date: 'MM' }}
            </span>
            <span class="field field-doc-date-yyyy">
              {{ request.Person.Document.Date | date: 'yyyy' }}
            </span> року
          </div>
        </div>
      </div>
      <br />
      <table class="bordered">
        <colgroup>
          <col width="35px" />
          <col />
          <col width="95px" />
          <col width="105px" />
        </colgroup>
        <tr>
          <th>№ з/п</th>
          <th>Назва документів</th>
          <th>Дата вилучення і місцезна-ходження документа</th>
          <th>Дата повернення документа в осо­бову справу</th>
        </tr>
        <tr>
          <td class="center">1</td>
          <td>Заява</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="center">2</td>
          <td>
            <div>
              Диплом, серія
              <span class="field field-edu-doc-serial">
                {{ request.EduDocument.Series }}
              </span>,
              № <span class="field field-edu-doc-number">
                {{ request.EduDocument.Number }}
              </span>
            </div>
            <div>
              від «<span class="field field-edu-doc-date-dd">
                {{ request.EduDocument.Date | date: 'dd' }}
              </span>»
              <span class="field field-edu-doc-date-mm">
                {{ request.EduDocument.Date | date: 'MM' }}
              </span>
              <span class="field field-edu-doc-date-yy">
                {{ request.EduDocument.Date | date: 'yyyy' }}
              </span> року
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="center">3</td>
          <td>
            <ol>
              <li>
                <div>
                  Сертифікат  № <span class="field field-cert-number">{{ certNumber }}</span>
                </div>
                <div>
                  від «<span class="field field-cert-date-dd">{{ certDateDd }}</span>»
                  <span class="field field-cert-date-mm">{{ certDateMm }}</span>
                  20<span class="field field-cert-date-yy">{{ certDateYy }}</span> року
                </div>
              </li>
              <li>
                <div>
                  Сертифікат  № <span class="field field-cert-number">{{ certNumber }}</span>
                </div>
                <div>
                  від «<span class="field field-cert-date-dd">{{ certDateDd }}</span>»
                  <span class="field field-cert-date-mm">{{ certDateMm }}</span>
                  20<span class="field field-cert-date-yy">{{ certDateYy }}</span> року
                </div>
              </li>
              <li>
                <div>
                  Сертифікат  № <span class="field field-cert-number">{{ certNumber }}</span>
                </div>
                <div>
                  від «<span class="field field-cert-date-dd">{{ certDateDd }}</span>»
                  <span class="field field-cert-date-mm">{{ certDateMm }}</span>
                  20<span class="field field-cert-date-yy">{{ certDateYy }}</span> року
                </div>
              </li>
            </ol>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="center">4</td>
          <td>Медична довідка 086-о</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="center">5</td>
          <td>Інші документи</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="center">6</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <div class="font-10">
        <div>
          <div class="bold">
            Категорія при зарахуванні (вказати необхідне):
          </div>
        &#x2611; - на загальних підставах
        &nbsp;&nbsp;&nbsp;
        &#x2610; - поза конкурсом
        &nbsp;&nbsp;&nbsp;
        &#x2610; - _________________________
        </div>
        <div>
          <span class="bold">
            Джерело фінансування (вказати необхідне):
          </span>
          &#x2611; - держзамовлення
          &nbsp;&nbsp;&nbsp;
          &#x2610; - кошти фізичних/юридичних осіб
        </div>
        <br />
        <div class="left">
          Відповідальний секретар приймальної комісії
        </div>
        <div class="left">
          <span class="field field-sign">
            Світанько М.В.
          </span>
        </div>
      </div>
    </div>

    <div class="a5 vertical padding">
      <div class="right font-14">
        ЗАТВЕРДЖЕНО<br />
        Наказ Міністерства <br />
        освіти і науки України<br />
        від _______ 2014 року № _______
      </div>
      <div class="clear"></div>
      <br />
      <div class="right bold font-14">Форма № Н-1.03.02</div>
      <div class="clear"></div>
      <div class="font-10">
        <span class="field field-institute">
          Запорізька державна інженерна академія
        </span>
      </div>
      <div class="clear"></div>
      <br />

      <div class="center">
        <div class="font-12 bold caps">РОЗПИСКА</div>
        <div class="font-10">в отриманні документів</div>
        <div class="font-12">
          № <span class="field field-doc-number">{{ request.Number }}</span>
        </div>
      </div>

      <div class="font-12">
        <div>
          Отримано від
          <span class="field field-name-full">
            {{ request.Person.Surname }}
            {{ request.Person.Name }}
            {{ request.Person.Patronymic }}
          </span>
        </div>
        <br />
        <div>такі документи:</div>
        <ol>
          <li>Заява</li>
          <li>
            <div>Документ про освіту: диплом (оригінал)</div>
            <div>
              серія <span class="field field-doc-serial">
                {{ request.EduDocument.Series }}
              </span>,
              № <span class="field field-doc-number">
                {{ request.EduDocument.Number }}
              </span>
              від „<span class="field field-doc-date-dd">
                {{ request.EduDocument.Date | date: 'dd' }}
              </span>”
              <span class="field field-doc-date-mm">
                {{ request.EduDocument.Date | date: 'MM' }}
              </span>
              <span class="field field-doc-date-yy">
                {{ request.EduDocument.Date | date: 'yyyy' }}
              </span> року
            </div>
            <div>
              виданий
              <span class="field field-doc-issued-1">
                {{ request.EduDocument.GivenBy }}
              </span>
            </div>
          </li>
          <li>
            <div>Сертифікати ЗНО:</div>
            <div>
              №<span class="field field-cert-number">{{ certNumber }}</span>
              &nbsp;&nbsp;&nbsp;
              <span class="field field-cert-year">{{ certYear }}</span>
              &nbsp;&nbsp;&nbsp;
              (оригінал/копія)
            </div>
            <div>
              №<span class="field field-cert-number">{{ certNumber }}</span>
              &nbsp;&nbsp;&nbsp;
              <span class="field field-cert-year">{{ certYear }}</span>
              &nbsp;&nbsp;&nbsp;
              (оригінал/копія)
            </div>
            <div>
              №<span class="field field-cert-number">{{ certNumber }}</span>
              &nbsp;&nbsp;&nbsp;
              <span class="field field-cert-year">{{ certYear }}</span>
              &nbsp;&nbsp;&nbsp;
              (оригінал/копія)
            </div>
          </li>
          <li>
            Фотокартки
            <span class="field field-photos">6</span> шт.
          </li>
          <li>Медична довідка (оригінал/копія)</li>
          <li>
            Інші документи:
            <span class="field field-other-docs">{{ otherDocs }}</span>
          </li>
        </ol>
        Копії, замінені на оригінали
        «<span class="field field-date-original-dd">{{ dateOriginalDd }}</span>»
        <span class="field field-date-original-mm">{{ dateOriginalMm }}</span>
        20<span class="field field-date-original-yy">{{ dateOriginalYy }}</span> р.
        <span class="field field-sign-exec-secr">
          &nbsp;
        </span>
        <div class="clear"></div>
        Прийняли:
      </div>
      <div class="font-10">
        <div>
          Технічний секретар
          <br />
          приймальної комісії
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="field field-sign">&nbsp;</span>
          <span class="field field-signer">&nbsp;</span>
        </div>
        <br />
        <div>
          Відповідальний секретар
          <br />
          приймальної комісії
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="field field-sign-faculty">&nbsp;</span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="field field-sign-comm-secr">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </div>
        <br />
        <div class="font-12 caps center">
          м.п.
        </div>
        <ol class="font-8">
          <strong>Примітки: </strong>
          <li>У разі втрати цієї розписки вступник повинен негайно повідомити приймальну комісію.</li>
          <li>Копії документів та фотокартки зберігаються протягом одного навчального року, після чого знищуються за актом.</li>
        </ol>
        «____»_____________ 20___ р.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="field field-sign-entr">&nbsp;</span>
      </div>
    </div>
  </div>
</div>
