<div class="top-panel">
  <ol>
    <li>Шукаємо особу, обравши пункт меню <a href="/person">Пошук особи</a>.</li>
    <li>Якщо дана особа є, то при потребі додаємо їй заяву (переведення).</li>
    <li>
      Якщо дану особу не знайдено, то переходимо на сторінку <a href="/person/add">Додавання особи</a>.<br />
      Після виконання всіх кроків додавання переходимо <strong>до пункту 2</strong>
    </li>
  </ol>
</div>