<h3 class="useless" ng-hide="person || error">
  Завантаження...
</h3>

<div ng-if="person">
  <pk-person-view person="person"></pk-person-view>
</div>

<h1 class="text-align-center text-danger" ng-show="error">
  Виникла помилка! Зверніться до адміністратора!
</h1>
